[2017-11-29 14:02] mzgnr opened #1 "Carthage Support ?"
is Carthage support planned ? If not would you accept PR ?

[2017-11-30 11:48] #1 closed

[2018-01-03 00:39] rcfrias opened #2 "Cocoapods is broken"
After pod install, the error is the following:

pod install
Analyzing dependencies
[!] Unable to find a specification for `AWSAppSync (~> 2.6.7)`

[!] Automatically assigning platform ios with version 10.0 on target EventsApp because no platform was specified. Please specify a platform for this target in your Podfile. See `https://guides.cocoapods.org/syntax/podfile.html#platform`.

**I think the

[2018-01-03 21:29] kvasukib commented on #2
Hi @rcfrias, Did you run `pod repo update` before attempting to run `pod install`?

[2018-01-04 00:34] kredden commented on #2
Hi, it is normal to define your platform in the pod file, you must not have, which is why you are getting that message.  The default pod file that is created when you do a pod init for a project has that in it although it is commented out, it will look something like this:

# Uncomment the next line to define a global platform for your project
# platform :ios, '9.0'

target 'TestProject' do
  # Co

[2018-01-04 00:34] #2 closed

[2018-01-04 23:10] rcfrias commented on #2
@kvasukib this was definitely the fix for the issue.  Thankx for the prompt response!  Hopefully this is included in the documentation.

[2018-02-06 09:51] helloniklas opened #4 "Setting s3ObjectManager to AWSS3TransferUtility.default() fails"
So according to the docs I should be able to set
[code]

However when attempting to set this with the user pool as in

[code]

It will just complain that Could not cast value of type 'AWSS3TransferUtility' (0x114bb1830) to 'AWSAppSync.AWSS3ObjectManager' (0x114bb1858).

How do I create the s3ObjectManager to pass in?

[2018-02-23 02:50] rohandubal commented on #4
Hello @helloniklas

To achieve that, you will have to pass in the `--add-s3-wrapper` flag during code generation. You can find the documentation [here](https://github.com/awslabs/aws-appsync-codegen#swift).

Thanks,
Rohan

[2018-03-10 05:28] alionthego commented on #4
Can you tell me how you got CognitoUserPoolsAuthProvider(pool: pool) to work?  I get the error: Use of unresolved identifier 'CognitoUserPoolsAuthProvider'

[2018-03-10 08:20] alionthego opened #5 "how can I set the appsync config using swift?"
I have been trying to use the appsync service using user pools for authentication but cannot setup the configuration correctly.

I want to use:

`let appSyncConfig = try AWSAppSyncClientConfiguration(url: AppSyncEndpointURL, serviceRegion: AppSyncRegion, userPoolsAuthProvider: CognitoUserPoolsAuthProvider(pool: pool))`

But I get:  use of unresolved identifier 'CognitoUserPoolsAuthProvider'

and i

[2018-03-12 16:41] Derek-X-Wang opened #6 "Feature Request: uploading multiple S3 object within a mutation"
Hi AppSync team,

It's a common use case that we would need to upload original media file along with thumbnail file.

Really hope we have this feature supported!

Thanks

[2018-03-12 23:08] rohandubal commented on #4
Hello @alionthego

Could you please open a separate issue with your question? We currently do not have an example of how to do that, but I will put an example together and reply on the new issue.

Closing this issue since the solution of --add-s3-wrapper should work.

Thanks,
Rohan

[2018-03-12 23:08] #4 closed

[2018-03-12 23:09] rohandubal commented on #5
Hello @alionthego

Thanks for reporting this. I will put together example and update this thead.

Thanks,
Rohan

[2018-03-12 23:11] rohandubal commented on #6
Hello @Derek-X-Wang

Thanks for reporting this use-case. I will take this as a feature request to the team.

In the mean while, could you use some lambda trigger to create thumbnails once the customer uploads the complex objects? You can find the tutorial to do that [here](https://docs.aws.amazon.com/lambda/latest/dg/with-s3-example.html).

Thanks,
Rohan

[2018-03-13 00:08] alionthego opened #7 "How do I create the config file for connecting to appsync with swift using user pools"
Hi

Could you please provide a best practice example on how to create the config file for user pools.  Presently I am passing self on app delegate as the argument and conforming to the protocol to get the token but not sure if this is the way to go or to create a new class.  Thanks.
In AppDelegate

[code]

[code]

[code]

[2018-03-13 00:20] alionthego commented on #4
Thanks.  I've raised it as issue #7

[2018-03-13 16:34] alionthego opened #8 "how can I send a push notification (apps) when using appsync"
what is the best workflow to use in order to send push notifications to an iOS device when using appsync.

I have a chat app and want users to receive push notifications from apns when they are not using the app and a message is sent to them.

I have all the certificates and have successfully sent push notifications from the sns console.  I don't know however how to integrate that with appsync.

M

[2018-03-14 01:08] rohandubal commented on #7
Hello @alionthego

Thanks for asking this question. I will put up an example as how to achieve this. Stay tuned for updates on this thread.

Thanks,
Rohan

[2018-03-14 01:11] rohandubal commented on #8
Hello @alionthego

Currently, the best solution would be to attach a resolver with None data source and connect to a lambda and use it to publish notifications using AWS Pinpoint.

Unfortunately, I do not have an example on how to do this, but I will discuss with the team if we can document this use-case. I will keep this thread updated with details.

Thanks,
Rohan

[2018-03-14 06:12] Derek-X-Wang commented on #6
Hi @rohandubal,

Thanks for replying!

I had thought about that option in the beginning.

Since it's a mutation that will be used a lot, I would like to keep thumbnail generation locally to save some money.

I'm currently doing two mutations in sequence for uploading and it works.

But the thing just gets messier after we figure it out that we may need three complex objects.

It will be really awe

[2018-03-14 18:42] rohandubal commented on #6
Thanks again for explaining your use-case. This helps us determine our future features. I will keep this thread updated if we have a solution to achieve this in a simple way using the SDK.

Thanks,
Rohan

[2018-03-15 13:39] alionthego commented on #8
Thank you.  That's the last piece I need to have my app up and running with an appsync backend.

[2018-03-16 20:58] AlexHmelevski opened #9 "Crash on unsubscribing a Watcher"
When you have several watchers for the one topic the app will crash trying to cancel the subscription

The problem lies in the line of the code that modifies array while iterating on it regarding the upper loop. Here is the case:
 - we have 3 watchers for the same topic.
-  for i == 0 we remove one subscription. Right now array has 2 elements
-  However the Loop is from 0 to 3 and it crashes on th

[2018-03-17 21:59] rohandubal commented on #9
Hello @AlexHmelevski

We did a release on Thursday(2.6.14) which fixes this issue. Are you still seeing this issue after updating? If yes, could you please re-base your PR with the latest commit?

Thanks,
Rohan

[2018-03-17 22:46] AlexHmelevskiAG commented on #9
Hello @rohandubal . Yes, unfortunately the issue is still there :(

[2018-03-21 01:06] rohandubal commented on #9
Hello @AlexHmelevski

This change is merged with SDK release 2.6.15 and merged. You should be able to pull in the changes through Cocoapods/ Carthage.

Thanks,
Rohan

[2018-03-21 01:06] #9 closed

[2018-03-31 07:47] end3r117 commented on #6
I came here because I just tried to do this, too! Specifically the thumbnail thing. I'll try the lambda solution for now and will watch this thread.

Thanks, guys!

[2018-04-06 16:03] joelmbell opened #14 "Incompatible with Swift 4.1"
When installing with Carthage I get this error.

Incompatible Swift version - framework was built with 4.0.2 (swiftlang-900.0.69.2 clang-900.0.38) and the local version is 4.1 (swiftlang-902.0.48 clang-902.0.37.1).

Are there any plans to update the repo to Swift 4.1 soon?

[2018-04-06 18:30] #14 closed

[2018-04-06 18:35] joelmbell opened #15 "Carthage build fails"
When building with Carthage, the AWSAppSync build script fails. It looks to be in relation to some Cocoapods dependencies.

I have removed the ```/Users/joelbell/Library/Caches/org.carthage.CarthageKit``` folder and the ```Carthage/``` folder from my project and I still see this issue.

This is my Carthage update command:
```carthage update --platform ios --color auto --no-use-binaries```

Below i

[2018-04-09 13:24] honkskillet opened #16 "Q: appsync S3Object with Lambda(mongo)?"
Is the S3Object available in AppSync (see Complex objects section in https://docs.aws.amazon.com/appsync/latest/devguide/building-a-client-app-ios.html) tied to dynamoDB, or could it be used with a Lambda datasource (say one connecting to a mongoDB)?

[2018-04-09 19:43] rohandubal commented on #16
Hello @honkskillet

To make it work something like mongoDB you will have to write a custom resolver for the fields to store and retrieve the S3 information. As far as correct data is received in the client for `S3ObjectInput` and `S3Object` you should have no issue using it with any backend through AppSync.

Thanks
Rohan

[2018-04-09 19:43] #16 closed

[2018-04-09 19:45] rohandubal commented on #15
Hello @joelmbell

Are you still facing this issue or were you able to resolve it as mentioned in #14 ?

Thanks,
Rohan

[2018-04-09 19:51] joelmbell commented on #15
@rohandubal this is a different issue, I didn't encounter it until after finding a solution to #14

[2018-04-10 00:32] rohandubal commented on #15
I see, thanks for the info.

Any specific reason you are not using the pre-built binaries? According to the stack trace, what I think is happening is that the Pod dependencies are not found causing the AppSync SDK build to fail.  We will have to add a way to consume the carthage dependencies in that case.

Thanks,
Rohan

[2018-04-10 15:16] joelmbell commented on #15
I wasn't using the binaries because they weren't built for swift 4.1. Thats where I was running into the issue in #14. I believe if the binaries were rebuilt for swift 4.1 that would be a sufficient work around for me.

[2018-04-12 02:13] rohandubal commented on #15
Yes, you are right. We either need binaries for 4.1 or a way to build it with a dependency on Carthage rather than current setup of cocoapods. Swift 4.1 adoption might be slower so latter is the better solution. I will work on getting that setup in place.

[2018-04-17 03:44] fans3210 opened #17 "how to handle the reconnection logics?"
Currently I have my subscription code in viewDidload. The app's subscription won't work if app was in background for a few minutes the back to foreground. But I'm still able to fire mutation actions. How should I handle the reconnection to make the subscription work again?

[2018-04-17 09:07] fans3210 commented on #8
Hi may I ask in this thread about push notification too?

I'm implementing a chat app using Appsync. How can I detect whether a user is connected to avoid sending a push notification?

[2018-04-18 14:08] AlexHmelevskiAG commented on #17
As long as we have the same issue I'll add our comments here instead of opening a new issue. There are 2 problems/question we have with subscription:
1. when the app goes to the background and stays there for at least a minute the subscription might not pick up, most likely won't pick up. During our POC we where using simulator to prove that subscription is working for this case. However simulator

[2018-04-19 00:52] fans3210 commented on #17
I'm still not familiar with appsync thus might be wrong. Made a few more attempts and found that the subscription expired even when the app is still in foreground without any event after a few minutes. I don't see any delegation method that can let the user being informed when the connection is lost. Is it possible to let the user at least informed thus we can re-make the subscription again when c

[2018-04-19 00:54] AlexHmelevskiAG commented on #17
@fans3210 you should receive an error in the subscription callback.

[2018-04-19 05:54] fans3210 commented on #17
@AlexHmelevskiAG , thank you. So I should manually call the subscribe function again while received the disconnected error feedback to make the reconnection right?

[2018-04-20 01:00] AlexHmelevskiAG commented on #17
@fans3210 That's what we trying to figure out :)
Well probably we will do on our side the next thing. When you go to background - you unsubscribe and when go to foreground subscribe again. If you don't care much about missing events during being in the background - the case will work for you.

[2018-04-22 05:43] rohandubal commented on #17
Hello @fans3210 @AlexHmelevskiAG

What @AlexHmelevskiAG is saying above, would be a good intermediate solution to make sure the subscriptions are received when the app is in foreground. Although I believe in addition to it a query from network should also run to ensure missed messages/

As a long term, we could have a type of query/ subscription which when called would internally run a query getti

[2018-04-24 12:33] AlexHmelevskiAG commented on #17
Hello @rohandubal
It might work, probably instead of getting last n messages, you could use timestamp. For example when the app goes to background you save timestamp T1 locally, when wakes up (T2). You ask server for getting the messages/records that were added/modified between T1 and T2. That means all the records should contain the attribute of last update timestamp. What do you think? It will h

[2018-04-26 11:15] raphaelmansuy opened #19 "SQL Lite locked after a mutation"
Thread 6: Fatal error: 'try!' expression unexpectedly raised an error: database is locked (code: 5) in SQLLite after a mutation

[2018-04-26 11:36] raphaelmansuy commented on #19
The exception occurs in the merge function when we try to perform many mutation in less than a second

public final class AWSSQLLiteNormalizedCache: NormalizedCache {

    public init(fileURL: URL) throws {
        db = try Connection(.uri(fileURL.absoluteString), readonly: false)
        try createTableIfNeeded()
    }

    public func merge(records: RecordSet) -> Promise<Set<CacheKey>> {

[2018-04-30 12:04] raphaelmansuy commented on #19
I could use the issue with a proper locking mechanism and with a busyTimeout(ms: 3000) call on the database object

[2018-04-30 22:15] rohandubal commented on #19
Hello @raphaelmansuy

Could you please elaborate a little on the fix you implemented? Also, any chance you could submit us a Pull Request? 😄

Thanks,
Rohan

[2018-05-03 03:19] fans3210 opened #23 "cannot invoke a lambda function in different region"
I configured appsync in apnortheast1 region and a lambda function in apsoutheast1. I selected 'create role' with the role automatically created. After that I got such error on client side:
`❤️ ERROR errs: [The role defined for the function cannot be assumed by Lambda. (Service: AWSLambda; Status Code: 403; Error Code: AccessDeniedException; Request ID: bdd72051-4e81-11e8-bf27-7b4058a38dfb)`
I trie

[2018-05-03 05:01] fans3210 commented on #23
Issue resolved after creating a new lambda function, don't know the cause of the issue anyhow

[2018-05-03 05:01] #23 closed

[2018-05-04 18:40] rohandubal commented on #19
Thanks @raphaelmansuy! I have reviewed and accepted the changes. I will roll them out with next release.

[2018-05-04 23:04] AurelianTimu opened #24 "Update podspec"
Hi,

The podspec needs an update for SQLite.swift.

SQLite.swift 0.11.4 -> SQLite.swift 0.11.5

[2018-05-07 17:04] rohandubal commented on #24
Hello @AurelianTimu

Currently the AppSync SDK  is compatible Swift 3.2/4.0. We will update the podspec when we move the dependency to Swift 4.1.

Thanks,
Rohan

[2018-05-08 04:15] wisesabre commented on #19
When is the next release expected?

[2018-05-08 14:49] #24 closed

[2018-05-09 03:00] fans3210 commented on #17
@rohandubal . I found that after a subscription method is called, there is no immediate callback to tell us whether the connection success. I only know whether there is error since the result block will return me the error immediately. Is it possible to let us notified that the connection is successful? We need to manage the msg sync for each disconnect -> connect window

[2018-05-11 08:15] fans3210 commented on #8
Hi @rohandubal , sorry I don't quite understand what u mentioned about we can 'attach a resolver with None data source and connect to a lambda and use it to publish notifications using AWS Pinpoint'. But How to invoke a lambda function from a none datasource? I only know how to invoke lambda function by using a lambda datasource

[2018-05-15 22:53] end3r117 opened #25 "Automatic upload S3Object to bucket fails"
Hey all,

This is a follow up to question I posted on the AWSAppSync forums and StackOverflow (links at bottom), which has some more detail on permissions and resolvers, but I'll summarize why I don't think that's an issue, and update the question here.

Basically, my app requires offline support, which AppSync provides almost perfectly, except for the file upload to an S3 bucket. I cannot get it

[2018-05-16 03:28] fans3210 opened #26 "MQTT Connection Status Looks Strange"
I've used appsync as  a chat app, thus I have to observe the connection status for each conversation, I tried to fork this repo and exposed the connection status to my main app,

As shown below, I have two conversations with dialog ids 10028 and 10029. I have made two subscriptions for each of them, as you can see from the log, 10028 subscribed first, but it keep connecting even it was connected b

[2018-05-16 03:53] fans3210 commented on #26
It looks like a new subscription would affect the connection state of the existing subscribers

[2018-05-16 20:06] rohandubal commented on #25
Hi @end3r117

Thanks for reporting this! I will investigate this issue and post an update here.

Thanks,
Rohan

[2018-05-18 05:39] rohandubal commented on #26
Hello @fans3210

That's the current behavior in accordance of how the service responds. To reduce the amount of MQTT clients which are required, when you make a new subscription request the connection for the previous subscription is re-established using the new presigned url received from the service. And the new and existing subscriptions become active again. Hope this clarifies the understandin

[2018-05-18 06:52] fans3210 commented on #26
Hi @rohandubal thanks for the explanation. So do you have any suggestion if for my case a chat app which might have more than 10 groups for a user? How can I keep synced with all the 10 conversations's change? Re-connecting takes quite a long time for now

[2018-05-20 00:45] alionthego commented on #7
hi.  is there any update on this?  If you don't have time for the example I would appreciate it if you can give me an idea of what to do.  thx.

[2018-05-20 05:14] end3r117 commented on #7
Just my two cents, I feel like you are doing it correctly, @alionthego. Whether you want to create your own authProvider class or make your AppDelegate conform to the AWSCognitoUserPoolsAuthProvider protocol is kind of up to you, right? I made my own class in the end but I want to say **thanks a ton** @alionthego because that short snippet of code you provided in your question helped me immensely

[2018-05-20 05:37] end3r117 commented on #7
Yes, I totally agree. In fact, my auth for AppSync is IAM currently for that very reason, even though the login and every other auth part of the app is UserPools. There's a reason I subscribed to this thread =P I guess I meant the basic concept of accessing the token was very helpful to me to get UserPools to even work in the first place. But having a token var was not okay. Thanks for the keychai

[2018-05-20 10:01] alionthego commented on #7
Here is the way to store it securely in keychain.  Create a KeychainAccess Class as below and modify your extension in AppDelegate to below.  Hopefully "The Rohan" will get back to us soon with the managed way to accomplish this.  Lastly delete the password when your user logs out.  The last part is the code to delete.  Cheers.

import Foundation

open class KeychainAccess {
    fileprivate class

[2018-05-22 04:54] alionthego commented on #7
So it turns out you just need the following code and no var's or keychainAccess.  can just let the SDK handle the token storage.  I didn't realize this was synchronous which is why I suggested keychain,  Anyway, just implement the following extension and your good to go.

extension AppDelegate: AWSCognitoUserPoolsAuthProvider {
    func getLatestAuthToken() -> String {
        let session =  pool.

[2018-05-23 01:06] fans3210 opened #27 "What might cause the delay of the subscription callback?"
Tested recently that the mutation is fast, but subscription call back took about 1 minute to fire even I'm sure that the mqtt clients already connected

[2018-05-31 02:59] w0mba7 commented on #15
I am in the same situation, build fails, and I can't use the binaries because I am on swift 4.1

[2018-05-31 16:02] rohandubal commented on #25
Hi @end3r117

Does your mutation with complex objects have the s3 file at the root level? Currently the SDK checks for the file to be at the root level for the upload to happen.

Have you defined the local schema to use the mutation to use `S3ObjectInput`? For example, the `.graphql` file in the local iOS dev environment should have a mutation which looks like this:

[code]

The decision of whethe

[2018-06-02 04:44] ethanjdiamond commented on #15
+1

[2018-06-02 14:58] romand commented on #7
Thanks @alionthego, your sample together with https://forums.aws.amazon.com/thread.jspa?messageID=835315&tstart=0 helped a lot.
Ah if only there was a working example in the docs, like @rohandubal promised here and on the forum…

[2018-06-02 17:22] joelmbell commented on #15
We've got swift 4.1.2 now as well, I agree with @rohandubal just updating the binaries isn't a good solution. Need to figure out how to build without the dependency on cocoapods

[2018-06-05 03:17] fans3210 opened #31 "AWSAppSyncSubscriptionWatcher cannot be deallocated until the connection state is able to be observed"
A sample code like below:

[code]

when I start to call subscribe function, appsync will initialise a watcher. The problem is. If I call the 'cancel' method before mqtt connection state become connected/connecting or others, the watchers are not released.

The watchers are only able to be released if the connection status chanaged to a non-notobservable state

[2018-06-05 03:44] rohandubal commented on #31
Hello @fans3210

Thanks for reporting this. I will investigate and confirm the behavior on this use-case. Are you experiencing significant delays in subscribe call?

Thanks,
Rohan

[2018-06-05 04:12] fans3210 commented on #31
Hi @rohandubal . Thanks. About the delay, sometimes yes. Not able to reproduce though

[2018-06-05 05:12] fans3210 commented on #31
@rohandubal I edited the title and comments. Actually the mqtt connection status doesn't have to be connected. As long as it's observable, the watcher can be released, otherwise not.

[2018-06-05 19:21] end3r117 commented on #25
Hey, Rohan. I am out of town for the next week and a half but I will try your suggestions, check file locations, and reply with an update ASAP. Please do not close this issue due to my temporary idleness!

Thanks for the help

[2018-06-06 01:34] fans3210 commented on #27
Here is some new feedbacks. When I just subscribe, I won't miss msgs, but after a while eg: 5-10 mins. Although the mqtt connection state is still connected, msgs are missing. I have to use a temporary solution to force query one days msgs to make sure no msg is missing for my chat app. I don't think it's a solution for long time.

[2018-06-06 23:31] michaeleconomy opened #33 "Thread 1: Fatal error: Unexpectedly found nil while unwrapping an Optional value"
I'm getting a fatal error trying to run my new mutation:

stack trace:
#6	0x0000000105995fd8 in AWSMutationCache.saveMutationRecord(record:) at /Users/michael/fun/sketchaphone/Pods/AWSAppSync/AWSAppSyncClient/AWSSQLLiteNormalizedCache.swift:89
#7	0x000000010598f31c in MutationExecutor.queueMutation(mutation:) at /Users/michael/fun/sketchaphone/Pods/AWSAppSync/AWSAppSyncClient/AWSOfflineMutationSto

[2018-06-07 00:02] michaeleconomy commented on #33
i tried disabling disk caching and it no longer crashes (setting databaseURL to nil in my appsyncclient).

[2018-06-07 20:37] rohandubal commented on #33
I don't see anything wrong with your mutation code. Could you please show how you initialized the database for appsync client? Does switching to a new database help?

[2018-06-07 20:44] rohandubal commented on #33
Setting it to nil will make the SDK use the in-memory database instead of a persistent store. The local store and cognito identity would be unrelated. One possibility is that if you are using temporary directory and the file got cleaned up by OS. You could use the NSDocumentsDirectory instead to avoid that issue.

[2018-06-07 20:53] michaeleconomy commented on #33
Ok, I was going off of the documentation here:
https://docs.aws.amazon.com/appsync/latest/devguide/building-a-client-app-ios.html

FWIW, I feel like this still shouldn't crash the application though.

I'm happy to continue to leave it set to nil (request caching isn't very worthwhile in my use case), but figured you guys would want to know about this issue.

[2018-06-07 22:26] rohandubal commented on #33
Thanks for letting us know about this! We will update it to fail silently in this case or surface it in the error callback.

[2018-06-08 21:00] rohandubal commented on #31
Hello @fans3210

I am currently reviewing couple of PRs, #28 and #34 which would help improve the performance of subscriptions. I will update this thread once we merge those changes. Also please feel free to comment on any improvements which you can think of/ suggest us in our SDK.

Thanks,
Rohan

[2018-06-11 06:53] fans3210 commented on #31
@rohandubal Thanks so much!

[2018-06-14 04:56] michaeleconomy opened #36 "No way to clear client cache"
Ok, so i'm struggling with this case:

i have a query that does "get info about the current user".  It doesn't take an id as a parameter, instead depends on the users context.identity.cognitoIdentityId (iam auth).

The problem i have is: if you do that call, i believe it is caching the response, then if i sign out and sign back in (as a different user), i get the old user's information when i do t

[2018-06-14 04:59] michaeleconomy commented on #36
Alternatively, if there was a way to disable caching entirely, that would work also - I'd want to do caching at a higher level anyway - so request caching doesn't make sense in my use case.

[2018-06-15 20:27] michaeleconomy opened #37 "No way to disable offline buffer"
Hi,

Reading thought the documentation and code, i can't find a way to disable the offline stuff.   My client is pretty simple and this complexity is mucking it up.

Current behavior:
Making a network call to AppSync while offline does not invoke callback, presumably this is buffered somewhere?

Desired behavior:
Making a network call to AppSync while offline fails - an error message is sent to ca

[2018-06-15 20:53] michaeleconomy commented on #37
Ok, i've dug in a little further and understand less

for my mutation - i get the behavoir above (callback does not get called when offline)

however for my queries i get my desired behavior (callback called with connection error)

I want my mutations to fail simularly.

[2018-06-21 20:32] joelmbell opened #38 "Mock Response from server to allow for Tests against mock data"
Wondering if there is a sanctioned way to mock out data responses from the server so we can implement UI Tests against that mock data.

I've tried a couple different approaches so far. The first is setting up a custom URLSessionConfiguration with a Mock URL Cache that just returns mock data whenever the URL cache is checked by the URLSession. I haven't quite gotten this to work yet, and it seems a

[2018-06-21 20:39] joelmbell commented on #37
Have you tried using the Apollo iOS framework to communicate directly with the app sync endpoint? Maybe you don't need the AppSync client wrapper around Apollo.

[2018-06-21 20:53] michaeleconomy commented on #37
I have, but given how much fuss it was getting auth working i kinda want to stick with appsync.

Currently i’m wrapping all of my mutatations in an online check.  This works for now, it’s just kind of gross, and presents race conditions.

It seems like this disconnect (also see my other thread on caching) stems from the fact that i want aomething like ‘amazon graphql service’. - appsync is offerin

[2018-06-21 20:55] michaeleconomy commented on #37
Oops misclick:

Even the name of appsync implies more than graphql, but graphql on aws is really all i want.

Anyway, that’s my 2 cents.

Other than authentication setup - using appsync has been great, thanks for providing such a cool service!

[2018-06-21 22:00] joelmbell commented on #37
Just want to be clear, I'm not an AWS employee. Just another guy using App Sync :)

[2018-06-21 22:04] michaeleconomy commented on #37
Ok, well some day they may read this :D

Have you used raw the apollo client with appsync?  If so, how's that going?

[2018-06-21 23:52] joelmbell commented on #37
We're doing that on a separate web client, but I haven't tried on iOS yet. The auth stuff may present an issue, I know you can just hit the graphQL endpoint using the x-api-key header if api key auth is all you need

[2018-06-21 23:52] joelmbell commented on #37
On iOS our use-case actually really needs the sync part of app sync

[2018-06-22 00:17] michaeleconomy commented on #37
Ah ok.  For my app, I'm using cognito and iam pretty heavily, so theres a lot of boilerplate aws code i'm using to set that up.

[2018-06-22 02:37] fans3210 opened #39 "AWSAppSyncSubscriptionWatcher cancel method block main thread when there are about 20 watchers(subscriptions)"
Whenever my app entered background, I cancelled all the subscriptions in background to reduce the network traffic. When app went to foreground again, I would re-subscribe them. But What I found is: this is a very heavy process. If there are more than 20 subscribers(which is possible for a chat app), it takes time to cancel them all. If I went to foreground immediately before all subscribers finish

[2018-06-25 22:39] joelmbell commented on #38
An even better solution might be to expose the ability to configure the NetworkTransport used by Apollo. Then we can just return mock data straight from there. I'm exploring this option now

[2018-06-26 05:39] fans3210 commented on #39
After some investigation, the issue might be related to the pull request: #34 ,
the new stopSubscription func, the line
`client.disconnect()`
blocks main thread

[2018-06-28 03:18] fans3210 opened #41 "when there are more than 1 kind of subscribers, all won't work, the connection state will all be non-observable"
It's not related to the amount of subscribers, It's about the num of kinds of subscribers subscribe at the same time

[2018-06-28 09:37] fans3210 commented on #41
Sorry, might be related to the comment in  #28 , I will close it for now

[2018-06-28 09:37] #41 closed

[2018-06-28 13:50] MarioBajr commented on #39
Good point, in both `master` and #34, management of `mqttClients` is happening in multiples queues. `AppSyncMQTTClient` should have it's own internal queue to manage `mqttClients`, will move all management of `mqttClients` to `subscriptionsQueue` in #34.

[2018-06-29 01:08] rohandubal commented on #39
Yes, this should be fixed with #34 and some changes which were released today. Waiting for @MarioBajr to rebase the changes so that we can release. Thanks for the PR @MarioBajr !

[2018-06-30 02:44] #38 closed

[2018-07-01 23:31] rohandubal commented on #37
Hi @michaeleconomy

Thanks for submitting this feedback. I will take this as a feature request to the team and see when we can get this feature added.

Thanks,
Rohan

[2018-07-02 00:04] michaeleconomy commented on #37
Thanks!

[2018-07-02 01:39] rohandubal commented on #36
Hello @michaeleconomy

Thanks for reporting this. I will take the part of adding `clearStore` as an API as a feature request to the team.

Regarding your use-case, you can achieve this by scoping the cache to individual users and delete the database file once a user signs out.

Example: https://github.com/aws-samples/aws-mobile-appsync-events-starter-ios/blob/master/EventsApp/AppDelegate.swift#L20

[2018-07-02 02:08] rohandubal commented on #17
Hello @fans3210

That would probably be good utility to add a connection acknowledgement. could you please open a separate issue where we can track that?

Thanks
Rohan

[2018-07-02 02:40] rohandubal commented on #25
We also have updated instructions which walk through the schema setup and client code here: https://awslabs.github.io/aws-mobile-appsync-sdk-ios/#complex-objects which you can try. Closing due to lack of activity.

[2018-07-02 02:40] #25 closed

[2018-07-02 03:20] fans3210 commented on #17
Thanks @rohandubal will do that

[2018-07-02 03:20] #17 closed

[2018-07-02 03:47] fans3210 opened #42 "Enhancements: It would be good to expose the detailed connection states to the user"
It would be good to expose the detailed connection states to public so that user can choose to manually fetch the missing messages between the disconnect-to-connected time window. Eg: Connecting, Connected, Not Observable(might be 'connecting' too although might not be observable), Disconnected etc.

[2018-07-02 04:54] rohandubal commented on #42
Hello @fans3210

Thanks for the feedback. Can you elaborate a little more?

For e.g. Do you want these states at a client level or at a subscription level?  Can you elaborate the use-cases which you are targeting?

Thanks
Rohan

[2018-07-02 07:47] fans3210 commented on #42
@rohandubal . Thanks. I prefer this to be on server side. Eg: 1. If I use lambda resolver, I prefer I can get all the subscribers' connection status in the lambda function's event field like event.subscriberStatus which is like a dictionary or json   2. If I'm using other types of resolvers beside lambda one, I can get the dictionary/json from the resolver's template code like: $context.subscriber

[2018-07-05 15:44] undefobj commented on #27
Hi @fans3210 could you share your GraphQL schema (including the mutations and subscriptions you're running) as well as the client iOS code that you're running?

[2018-07-06 01:31] fans3210 commented on #27
There is no issue with mutation, so I will share a bit of the code about subscription:

[code]

[2018-07-06 01:55] fans3210 commented on #27
And one more thing, I received "subscription terminated" error on my ios client very frequently these days. Is it due to my network?

[2018-07-06 04:51] fans3210 commented on #27
Please feel free to ask me if the code provided is not enough for you and I will try to make a mini-project if needed

[2018-07-06 06:09] fans3210 commented on #39
@rohandubal , thanks. The release fixed this issue. But the pending prs #28 and #35 called the disconnection in subscription queue instead of a random background queue. I faced crash with that fix but no issue with the release fix. Will close it now and reopen if facing issue again in the next release

[2018-07-06 06:09] #39 closed

[2018-07-06 06:10] #31 closed

[2018-07-06 06:11] fans3210 commented on #31
No issue for now after applying pending PR #28 . Will reopen if facing this issue again in the next release

[2018-07-06 06:13] fans3210 commented on #26
#28 resolved this issue, will reopen again if facing issue in the next release which will merge that PR

[2018-07-06 06:13] #26 closed

[2018-07-06 09:46] MarioBajr commented on #39
Hi @fans3210, can you please share more details about the crash? Do you still have the crash logs?

[2018-07-06 09:56] MarioBajr commented on #42
Hi @fans3210, I have a branch fixing this, waiting #35 to be merged to create the PR

[2018-07-06 17:17] undefobj commented on #27
What kind of a resolver are you using? DynamoDB or Lambda?

[2018-07-07 07:44] fans3210 commented on #27
@undefobj lambda which inserts data to the RDS. Every time I faced subscription error I would check the log and db and no issue with the lambda function and the data insertion.

[2018-07-07 07:46] fans3210 commented on #42
@MarioBajr . Amazing. Tks

[2018-07-07 18:01] undefobj commented on #27
Subscriptions in AppSync don't fire until the data source returns results to AppSync. In the case of Lambda, you control the execution so it's possible that even though the write to the database is happening your function isn't exiting (or isn't exiting properly) hence the delay between when subscription notifications are triggered. If you have a higher Lambda timeout and also don't return values

[2018-07-09 01:04] fans3210 commented on #27
@undefobj , for some delay, it's not like a few seconds, but is missed.  As mentioned in https://forums.aws.amazon.com/thread.jspa?threadID=285375&tstart=0, I received all the missing msgs from other topics immediately after receive one in my subscribed topic

[2018-07-09 01:19] fans3210 commented on #39
@MarioBajr
It happened in stopSubscription function:

[code]
and the detailed crash is in the udpate dictionary method:

https://www.dropbox.com/s/41yikdyen7zgjfh/Screenshot%202018-07-09%2009.18.26.png?dl=0

[2018-07-09 09:56] br3nt0n opened #44 "Unit tests"
I'm looking to contribute with a couple of PRs, but just want to clarify what the current state of testing is with regards to PRs and if there's anything going on behind the scenes to improve this? I've seen the `AWSAppSyncClientTests` group, but it's empty at present.
Thanks.

[2018-07-09 10:10] MarioBajr commented on #39
I see, `subscriptionsQueue` is retaining `subscription` to run `updatedDictionary` asynchronously, but the method `stopSubscription` can run on `AWSAppSyncSubscriptionWatcher` `deinit`. Previously you had no problem because everything was running on the same queue. The problem with this approach is that all internal thread unsafe ivars (`mqttClients`, `mqttClientsWithTopics`, `topicSubscribersDict

[2018-07-09 22:34] ajzhou commented on #25
I am having the same issue here. I followed the updated instructions but still have no success with uploading to S3 automatically through AppSync. I checked to upload the same file URI with TransferUtility and everything works.

[2018-07-09 22:37] ajzhou opened #45 "Automatic Upload to S3 Fails"
Hi I am reopening an issue discussed previously (#25). I followed the updated instructions (https://awslabs.github.io/aws-mobile-appsync-sdk-ios/#complex-objects) to a tee and still experienced no success with automatically uploading to S3. I can see that there is an S3Object in my dynamoDB table but nothing gets uploaded to my S3 bucket. I tried uploading the same file using TransferUtility and i

[2018-07-10 02:12] undefobj commented on #27
It's possible that the Lambda times out and a well formed response isn't being sent back to the AppSync resolver. Again, with Lambda it's in your control to execute and return context to AppSync or unexpected things can happen. What I might suggest is since you have the forum thread open, posting your Lambda code and config in that repo along with request IDs and timestamps so that one of the serv

[2018-07-10 04:52] fans3210 commented on #27
@undefobj  will do and will append the lambda functions here and in the forum too. I've also opened a case in the support center and one engineer asked me to attempt to open a few tabs in my browser and use appsync console to make the mutation and subscriptions. I received each message in my subscriptions. No message was lost. I was also curious whether it's due to my office network because I used

[2018-07-10 04:53] fans3210 commented on #27
Attached is the lambda func of the mutation:

[code]

[2018-07-10 07:16] br3nt0n commented on #45
Have you tried making the S3Object a top level item? I've had success doing it with something like this:
`create(post: Post, imageToUpload: S3ObjectInput)`

[2018-07-10 08:29] btn52396 commented on #7
Hi everyone. Just wanted to give you guys a heads up that you should be storing the token in a keyChain once you get it. If you don't, session?.result?.idToken?.tokenString will return nil after a while and crash your program.

[2018-07-10 12:17] MarioBajr commented on #39
Came up with this solution, slightly more complex, but it solves the thread safety problem, and don't block the caller queue while executing `subscriptionsQueue` inside `stopSubscription`. Will do some tests before committing on top of #28. Feel free to apply the patch and provide feedbacks.
https://gist.github.com/MarioBajr/e361a8e480e5051c59104ca176ce33c5

[2018-07-11 17:18] josecalles commented on #45
Also experiencing the same issue. I am seeing the S3 object in Dynamo but nothing ever gets uploaded to the bucket. I am saving a `UIImage` to my local documents directory and then passing in `imageFilePath.absoluteString` to the `localUri` parameter. I saw it was mentioned in another thread that the transfer utility only searches the root directory for the file. Can this be causing the issue? Sin

[2018-07-12 14:10] MarioBajr opened #47 "Conflicting memory management behaviour between AppSyncMQTTClient and MQTTSubscritionWatcher"
Hi,
while working on #28 crash fix pointed in #39, I noticed that `AppSyncMQTTClient` strongly holds all `MQTTSubscritionWatcher` instances in `topicSubscribersDictionary`. The only way to remove those instances is to call `stopSubscription(subscription:)` passing the watcher in the argument. This could be a desired behaviour, but it conflicts with `AWSAppSyncSubscriptionWatcher`, which is the onl

[2018-07-14 13:51] MarioBajr commented on #47
This issue was fixed in #28. In this PR, `AppSyncMQTTClient` retain all instances of `MQTTSubscritionWatcher` weakly via usage of NSHashTable.

[2018-07-14 13:51] #47 closed

[2018-07-19 19:03] josecalles opened #49 "Seeing 'Warning: A long-running operation is being executed on the main thread' for every request"
With every request that I'm making with AppSync, I receive a warning telling me that the operation is being executed on the main thread. I'm passing in `DispatchQueue.main` as the queue for all these requests, yet I'm still consistently seeing the warning.

[2018-07-23 17:08] joelmbell commented on #36
+1 on this feature request

[2018-07-25 17:03] josecalles commented on #49
Fixed by updating AppSync to latest version.

[2018-07-25 17:03] #49 closed

[2018-07-27 12:25] richienko opened #51 "Optimistic update: Error at path "<query_with_pagination>.nextToken": missingValue"
The query with argument within optimistic update closure will fail with "missingValue" message.
The query is paginated.

**Version** of AppSync:
`2.6.18`

**Message** I'm getting:
`Error at path "listJobsByCustomer.nextToken": missingValue`

**Mutation**:
`updateJob(input: UpdateJobInput!): Job`

**Query** called in optimistic update closure:
`listJobsByCustomer(customerId: String, first: Int, aft

[2018-07-27 12:40] richienko commented on #45
As I know, the br3nt0n is right, S3Object has to be in top level item.

For example if you have:
`create(post: PostInput)`

and PostInput is
[code]

change mutation to:
`create(post: PostInput, file: S3ObjectInput)`

and PostInput to:
[code]

**Reason**:
In `AppSyncComplexObjectsInterceptor`, when deciding if operation should upload S3Object, this  condition has to be met:
`request.operation.query

[2018-07-27 22:09] wir349 commented on #51
I'm having a similar issue, except I'm not using pagination.

[2018-08-02 01:18] koingruc commented on #51
Is this bug is fixed in Release v2.6.18 ? Thanks

[2018-08-02 06:52] richienko commented on #51
@koingruc no, it's not fixed, I'm using 2.6.18 and it's bugged

[2018-08-03 05:36] koingruc commented on #51
@richienko Thank you for the information.

[2018-08-13 23:04] alionthego opened #54 "uploading file to s3 using appsync with lambda as datasource"
I am following the following tutorial to upload s3 images along with other message details to my s3 bucket using appsync:

https://docs.aws.amazon.com/appsync/latest/devguide/building-a-client-app-ios.html

The example is using a resolver for a dynamoDB datasource.  How can I correctly setup the resolver when using a lambda function as my datasource (amazon aurora).  This is presently my resolver

[2018-08-15 00:30] Foefirelord commented on #51
Same issue. Simply trying to implement a basic mutation with the sample code provided on the official doc page, yet getting "missingValue" from `transaction?.update`.

[2018-08-18 13:04] luannguyenkhoa opened #56 "Automatically upload multiple S3 files support"
Hi there,

I would like to get a chance to support automatically uploading multiple S3 files. Currently, as my schema, I have a field: `files: [S3ObjectInput]`, but seems the SDK doesn't support a list of objects like that. I was able to get it worked with one object: `file: S3ObjectInput`.

Any ideas will be very much appreciated.
Thanks.

[2018-08-18 13:07] luannguyenkhoa commented on #56
Seems this is duplicated. I will close this issue.

[2018-08-18 13:07] #56 closed

[2018-08-21 05:01] koingdev commented on #51
For those who have problem with `optimistic UI missing value`. I've found one trick to temporary solve the issue by passing parameter using `Custom Request Header` from client app.
Before, your query would look like this : `allDiaries(author: String): [Diary]`.
Just change it to => `allDiaries: [Diary]`. So your `request mapping would look like below:`
[code]

[2018-08-21 08:00] luannguyenkhoa commented on #6
I can get this worked with my folk: https://github.com/luannguyenkhoa/aws-mobile-appsync-sdk-ios
The only thing you need to implement is adding a func inside `extension AWSS3TransferUtility: AWSS3ObjectManager{}` in API.swift file as below:
[code]
 that performs a parallel file upload when getting invoked.
All changes are included the latest commit, very appreciated if you guys can take a look and

[2018-08-21 14:29] wickedman1976 opened #57 "Cache key not working with floats"
Hi All,

Had fun and games with this one today, if I use a query and one of my parameters is a float it is not saving correctly in the cache.  I finally managed to fix this by turning my float into a string but I seem to be the only person having this issue.  Strange enough the float was in the format 363638, perhaps it needs more help in thinking its a float?  The number was too long to be an int

[2018-08-29 23:58] kvasukib commented on #5
@alionthego Sorry for the delayed response. Here is the snippet you need:

[code]

[code]

[2018-09-01 07:01] kvasukib commented on #7
@alionthego Sorry for the delayed response. Here is the snippet you need:

[code]

[code]

[2018-09-01 07:02] #44 closed

[2018-09-13 11:45] hemant236 commented on #51
Any update on the issue, Is it fixed in latest 2.6.21

[2018-09-13 11:49] koingruc commented on #51
@hemant236 Check this link.
https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/master/CHANGELOG.md
If you have this issue, you can try my solution :) I solved it using `Request Header` instead of `Argument`

[2018-09-13 13:10] alexeypolitov opened #68 "Subscription connection handler"
Do you know some way to handle subscription success connection?
I was made some changes in `AWSAppSyncSubscriptionWatcher ` to handle this, but maybe you know better way

[code]

[2018-09-13 14:12] hemant236 commented on #51
Is their any other framework/class that I need to import for using `CognitoAuthProvider()` and `CognitoUserPoolManager`

[2018-09-15 00:10] rohandubal commented on #68
Hello @alexeypolitov

Is your use-case to get a callback when the subscription is active on the client?

Thanks,
Rohan

[2018-09-19 01:42] joelmbell opened #72 "Sending 2 mutations sequentially, callback doesn't get called on one of them"
**Describe the bug**
When you send two mutations, one right after the other, a callback will get called for one of them, but not for the other one.

**To Reproduce**
Steps to reproduce the behavior:
1. Send 2 mutations one right after the other
2. in the resultHandler callback of the perform(mutation:queue:optimisticUpdate:conflictResolutionBlock:resultHandler:) method, print a log statement

**Ex

[2018-09-19 01:47] rohandubal commented on #72
Thanks for reporting this @joelmbell

We have a bunch of functional tests where we run about 18 mutations in a for loop which passes: https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/master/AWSAppSyncTests/AWSAppSyncTests.swift#L324

Which auth mechanism you are using? (AWS_IAM, API_KEY, UserPools?)

Thanks,
Rohan

[2018-09-19 04:39] alexeypolitov commented on #7
What you think about async token provider for cognito?

[code]

[2018-09-19 15:13] joelmbell commented on #72
@rohandubal I am using the new ```AWSCognitoUserPoolsAuthProviderAsync``` auth mechanism.

I'll continue testing on my end, I should be able to narrow it down further.

[2018-09-19 17:01] rohandubal commented on #72
Thanks for the info @joelmbell

I will try to reproduce on my end as well.

[2018-09-20 18:14] joelmbell commented on #72
@rohandubal the more I look at this, it seems like its actually an issue the Cognito SDK we're using to fetch the token in ```func getLatestAuthToken(_ callback: @escaping (String?, Error?) -> Void)```

The sdk is never returning for that second callback, so the callback to this function isn't getting called, which is just bubbling up the stack to the actual mutation resultHandler

[2018-09-20 22:59] rohandubal commented on #72
Hello @joelmbell

I tried re-producing on my side but was not able to. It worked as expected on SDK version `2.6.21`

I was using the `AWSUserPoolsSignIn` (`AWSCognitoIdentityProvider`) SDK and this was the definition of my user pools provider:

[code]

Does your code look similar? I think I might need a some repreo steps or a small sample app from you where I can debug this.

Thanks,
Rohan

[2018-09-21 02:53] alexeypolitov opened #73 "App come back to foreground after 10 minutes sleep"
When app sleep 10 minutes and come back to foreground I receive log like below

[code]

It's look like socket is disconnected. Do you know good solution for this situation?

[2018-09-21 15:05] joelmbell commented on #72
@rohandubal closing this, you may have missed my above comment explaining that it was an implementation detail on my end causing this.

In short, the callback in ```getLatestAuthToken``` wasn't getting called for the second request. Since that callback wasn't getting called it caused the mutations resultHandler to not be called as wel.

Thanks for looking into this, and for responding so quickly!

[2018-09-21 15:05] #72 closed

[2018-09-21 22:08] rohandubal commented on #73
Hello @alexeypolitov

This could be due to multiple reasons like server issuing a disconnect or OS terminating the background network connection.

One way of addressing this issue is that you check for the specific termination error like above and re-start the subscription. If you explicitly call `.cancel()` on your watcher, you will not get this error and won't trigger the retry logic.

Hope this

[2018-09-21 22:09] rohandubal commented on #57
Thanks for reporting this @wickedman1976

The current implementation should try to convert it to string and try to store it. I will investigate as to why is it not working. How are you using Float in your queries? Do you have a sample?

Thanks,
Rohan

[2018-09-21 22:11] rohandubal commented on #54
Hello @alionthego

The localUri is same as the localUrl string used to identify the file locally.

You should be able to use the lambda function as the resolver, but you will also have to write response mapping template to return the correct Bucket Name and Key for the S3Object.

Thanks,
Rohan

[2018-09-21 22:13] #45 closed

[2018-09-21 22:15] rohandubal commented on #5
This feature has been added with SDK version `2.6.20`+

[2018-09-21 22:15] #5 closed

[2018-09-21 22:17] rohandubal commented on #7
@alexeypolitov the async token provider for Cognito would be the way to go handling the token retrieval in async way. You should be able to use it with the configuration feature mentioned by @kvasukib

[2018-09-21 22:17] #7 closed

[2018-09-21 22:19] rohandubal commented on #27
@fans3210 we have released a bunch of improvements for subscriptions in SDK version `2.6.21` Could you please try and see if you are seeing improvements?

[2018-09-22 00:53] rohandubal commented on #51
This is now fixed with SDK Version `2.6.22`

[2018-09-22 00:53] #51 closed

[2018-09-22 04:01] fans3210 commented on #27
@rohandubal . Sorry totally forgot about this issue. Will close it. Thanks.

[2018-09-22 04:01] #27 closed

[2018-09-23 02:28] graylikeme opened #76 "Carthage build reachability framework is outdated"
**Describe the bug**
When building with Carthage the version of Reachability that is being downloaded is 3, but the sdk binary attempts to use functions from v4

`dyld: Symbol not found: _$S12ReachabilityAAC24allowsCellularConnectionSbvpWvd
  Referenced from: /private/var/containers/Bundle/Application/54737AA0-D181-4133-830C-E863D0AA335B/Pear-DEV.app/Frameworks/AWSAppSync.framework/AWSAppSync
  Ex

[2018-10-03 14:14] pawelurb commented on #76
For people currently struggling with this issue, there's a workaround for this problem that you can apply by explicitly defining version of Reachability in your Cartfile:

[code]

Hint: if you're building with Swift 4.2 then [v4.3.0 has been released](https://github.com/ashleymills/Reachability.swift/releases), so you can update your Cartfile accordingly.

However, I also agree that this issue sho

[2018-10-05 16:21] muellerfr commented on #42
@rohandubal Looks like this PR was merged a while back. Can this issue be closed?

[2018-10-05 16:22] muellerfr commented on #33
@rohandubal Didn't we release a fix for this issue? If so, can you update the issue?

[2018-10-05 16:38] MarioBajr commented on #42
Hi @muellerfr,
I believe that you're referring to this PR #75 , and it hasn't been merged yet. In order to create the observable subscriptions status PR on top of the master branch I need the #28 to be accepted and merged.

[2018-10-06 11:06] Hpark11 opened #79 "Memory leak when using AppSyncClient"
**Describe the bug**
Memory leak continuously occurred when using AppSyncClient (especially when invokes mutation)

**To Reproduce**
Steps to reproduce the behavior:
1. use appsyncClient.perform()

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
<img width="1440" alt="2018-10-06 7 52 24" src="https://user-images.githubusercontent.com/8099899/4

[2018-10-08 22:31] muellerfr opened #80 "Subscription feature does not work immediately after installation. Only after closing app and reopening"
Ported from issue opened by @jamesknowsbest: https://github.com/aws-samples/aws-mobile-appsync-events-starter-ios/issues/9

## Issue: Subscription feature does not work immediately after installation. Only after closing app and reopening

### steps to reproduce:
- Install the app on a simulator
- Once the app is installed create a event
- Then select the event and create a comment for the event
-

[2018-10-09 02:42] graylikeme opened #81 "Deadlock on mutation"
**Describe the bug**
I have a case where I have to fire mutations every few seconds. In a case when there are over 2 mutations and you go to background and then back to foreground the app is being deadlocked permanently (main thread is locked). The only way to fix the deadlock is to completely remove the app from the device and then install again.

**To Reproduce**
Steps to reproduce the behavior:

[2018-10-11 06:28] #73 closed

[2018-10-11 18:28] kiroskirin commented on #76
@pawelurb Still got error even doing as your workaround.

[2018-10-11 19:36] pawelurb commented on #76
@kiroskirin can you paste the content of your Cartfile please and let me know which version of Swift are you using?

[2018-10-12 10:42] Umetomo opened #82 "AWSAppSyncSubscriptionWatcher .cancel() is not work"
**Describe the bug**
Even if you call cancel () on AWSAppSyncSubscriptionWatcher, Memory is not released.

**To Reproduce**
I am creating a chat application
I was using the same UIViewController in several rooms
When entering the room Initialize with

messageWatcher?.cancel()
messageWatcher = nil

And instantiating subscription with

messageWatcher = try appSyncClient.subscribe

As I enter the roo

[2018-10-12 10:58] alexeypolitov commented on #68
@rohandubal resolved in pull #75

[2018-10-12 10:58] #68 closed

[2018-10-12 11:17] peterfennema commented on #76
Same issue here, swift 4.2. The workaround of @pawelurb does not work.
The v3 version of Reachability is downloaded, the 4.3.0. version is ignored.

Cartfile:

[code]

[2018-10-12 12:05] pawelurb commented on #76
@kiroskirin @peterfennema I'll try to investigate this issue, set up a sample repository and get back to you in a couple of hours.

[2018-10-12 15:54] kiroskirin commented on #76
@pawelurb At first here my Carfile

[code]

But after I test your workaround again

[code]

It seem to work 👍

[2018-10-12 17:57] kiroskirin opened #83 "SQLite crashed on runtime"
**Describe the bug**
When run the app got crashed about SQLite

**To Reproduce**
Steps to reproduce the behavior:
1. Run App

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.
<img width="1280" alt="screen shot 2018-10-13 at 12 54 00 am" src="https://user-images.githubusercontent.com/3

[2018-10-13 05:14] kiroskirin commented on #76
@pawelurb Now I'm struggling with this issue #83 Can you look into that.

Thank you

[2018-10-13 07:25] larryonoff opened #85 "Don't see where ReachabilitySwift dependency is used"
We're planning to use AppSync in our iOS app. But I have an issue with updating dependencies, since that our project uses new version of ReachabilitySwift, when AppSync uses older.

I checked imports of ReachabilitySwift and didn't find it.

So I suggest to remove it from podspec.

[2018-10-13 07:26] #85 closed, assigned to nobody

[2018-10-13 14:56] graylikeme commented on #76
@kiroskirin I also had this problem, I ended up giving up fighting with their carthage build and just used frameworks I got from cocoapods as drop-ins.

After you will solve the SQLite problem, you'll get a crash elsewhere.

[2018-10-13 16:15] kiroskirin commented on #76
@graylikeme Okay, so I have no choice then 😞

[2018-10-17 10:33] Linger-ing opened #86 "how to assign DAX as Data Source for appSync API"
@muellerfr   Hi, I am using AppSync to get realTime data for my app. Since it involves lot of transactions, I want to have DAX for my DynamoDB. But I am not able to assign the endpoint as dataSource for the API. Here are the images. How can I solve this
![screenshot 2018-10-17 at 3 47 13 pm](https://user-images.githubusercontent.com/26104181/47080647-34ba1280-d226-11e8-9b17-2f4ba73d46a8.png)

![sc

[2018-10-23 07:10] ifabijanovic commented on #79
I'm afraid it's worse than this - the client itself is in a retain cycle from initialization and it cannot be released (on logout for example). Simply doing something like this (using code from sample):

[code]

Will not release `AWSAppSyncClient`, which in turn won't release a whole graph of objects including an SQLite Connection.

[2018-10-23 18:18] joelmbell commented on #79
This is affecting us as well, hoping that MR can get merged into a new version soon. We currently have a bug where mutations are attempting to send after a user has logged out. AppSyncClient should be nil'd out before that happens but due to the retain cycle we can't stop it from sending stored mutations if they exist

[2018-10-26 20:17] muellerfr commented on #86
Looks like you asked the question in the AWS Forums: https://forums.aws.amazon.com/thread.jspa?threadID=292365&tstart=0

[2018-10-26 20:17] #86 closed

[2018-10-27 11:28] Umetomo commented on #82
@muellerfr
Thank you for your reply.
As .cancel () often crashes
Please tell me the solution

[2018-10-29 13:53] J-L opened #89 "Errors not returned for Queries"
**Describe the bug**
Working with lambda resolvers (specifically with golang), returning errors are correctly returned to the client when working with mutations, but not with queries.

Handler Signature
[code]

`appSync?.perform(mutation: someMutation) {result, err in`

The above will return the error object in `result.errors` of a mutation, however:

`appSync?.fetch(query: someQuery) {result, err

[2018-10-30 18:18] joelmbell opened #90 "returnCacheDataElseFetch returning nil instead of fetching"
**Describe the bug**
When using the CachePolicy.returnCacheDataElseFetch while Querying, a call is never made to the NetworkTransport class to return data even though the cache does not have a value for this Query yet. This happens when you have already completed a different query first.

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure no previous cache values exist (easy solution is t

[2018-10-30 20:55] anupsarode opened #91 "Handle the AWSAppSyncClient timeout"
I am trying my hands on with AppSync iOS and want to get a failure callback for a fetch query when the internet is not available.

When the internet is available, the following code outputs both "sending" and "receiving". But when the internet is not available, I do not get any callback from AppSync client. The code only outputs "sending".

`print("sending")
    self.appSyncClient?.fetch(query: ge

[2018-10-31 01:18] freshtechs opened #92 "Optimistic update fails if cache is empty"
**State your question**
Optimistic update always fail to "missingValue", if model wasn't previously cached from a fetch query. And said fetch operation needs to actually populate the cache with items, for further optimistic updates, otherwise (i.e. cache is empty) the optimistic update won't update/initialize the cache(?)

Don't know how could I initialize an empty cache just in case the **first**

[2018-10-31 12:01] dreamBegin commented on #91
This is a serious issue and a basic one too.You can put a internet check before firing query but what you can do when there is slow internet connection? We really need something working as soon as possible.

[2018-10-31 13:30] sdeff commented on #92
I'm facing the same problem.

When I run the Event App sample for the very first time and with airplane mode enabled, I get a "missingValue" after executing "transaction?.update(...)" whenever I try to add a new post:

        appSyncClient?.perform(mutation: addEventMutation, optimisticUpdate: { (transaction) in
            do {
                // Update our normalized local store immediately for

[2018-10-31 13:47] Umetomo commented on #82
I have discovered some of the factors that cause clashes.

My project uses a pod with Fabric, but the number of times it has recently climbed increased when I recently upgraded it.

However, I suspect that the Fabric is related to the StopSubscription class, and when I removed the Fabric from the project, it started to work more stable.

As a matter of fact, the AWSCore library has been using Fabr

[2018-10-31 17:08] freshtechs commented on #92
This may be a bug? @joelmbell

[2018-10-31 17:12] freshtechs commented on #92
This may be a bug? @rohandubal

[2018-10-31 17:16] rohandubal commented on #92
@sdeff @freshtechs There was a known bug which was fixed in 2.6.22 which did not allow writing to cache for queries with parameters or with objects with null values.

Does this happen only on queries which have never been fetched from the network or for any query?

[2018-10-31 18:08] freshtechs commented on #92
@rohandubal Happens when you try to perform an optimistic update mutation prior a fetch request of the same object/model (from cache or network i tried with all the keys in CachePolicy).

 If the first action and first launch of your app involves an optimistic update the perform operation would fail to the “do try transaction?.update...” catch statement printing “missingValue” as error value

[2018-11-02 01:33] rohandubal commented on #82
Hello @Umetomo

On closer inspection, I found that there is a case in the SDK where you cancel a subscription before it is activated, there might be some memory leak. I am working on changes to avoid that scenario by handling the cancel call better.

As a best practice in the meanwhile, you can set the subscriptionWatcher to nil instead of the .cancel() method since the deinit internally calls the

[2018-11-02 15:55] rohandubal commented on #92
Thanks for the information @freshtechs

I will look into this.

[2018-11-02 15:56] rohandubal commented on #82
Hello @Umetomo

We have released SDK version `2.6.23` which addresses some memory leaks and retain cycles. Please try it out and let us know if you still face the issues.

Thanks,
Rohan

[2018-11-04 07:10] Umetomo commented on #82
@rohandubal

Thank you for resolving the memory leak.
I am surprised that you responded so quickly!

I tried the new SDK. Wonderfully it did not leak memory!
I feel that the operation is more stable than before.
However, as the problem of crashing still occurs
I will continue to support crash log sharing.

My project uses multi subscription
At the timing of UIApplicationWillResignActive, we set ni

[2018-11-06 01:32] afterthought opened #94 "Large strings get truncated - perhaps in sqlite normalized cache"
**Describe the bug**
We were sending some base64 encoded data as a field in a resolver and found this issue after noticing that the data was truncated/corrupt.

**To Reproduce**
Steps to reproduce the behavior:
1. In a resolver request mapping (ours is just a none data source) send a long string like this:

    #set($template = {
    "field1": "foo",
	"field2": "bar",
    "auditsExtensions": "1111

[2018-11-06 01:51] afterthought commented on #94
User error. Xcode "print" in debugger was truncating to 1024. We have a problem still, but this isn't it. Sorry for jumping the gun... :(

[2018-11-06 01:51] #94 closed

[2018-11-13 18:59] joelmbell commented on #90
We're still encountering this issue on the latest build (2.6.24)

Here is some additional information we've encountered while testing.

It seems to only happen after a different query with the cache policy (fetchIgnoringCacheData) has already completed.

Our use-case is that when a user-logs in, a query is performed (fetchIgnoringCacheData) that loads in data that the user will need. This is succe

[2018-11-15 03:46] huforrest opened #101 "Error updating store in subscription result handler"
I subscribed to a new message subscription. When I get the new data and prepare to update the local store with the newly received data, I get an error. Here is the error log:

GraphQLResultError(path: ["allMessageConnection"], underlying: AWSAppSync.JSONDecodingError.missingValue)

And here is my code:

[code]

The error lies in this line:
data.allMessageConnection?.messages?.append(messageToAdd)

[2018-11-16 08:40] Umetomo commented on #82
A crash occurred in the new SDK due to the code I was changing to reduce crashes in my previous SDK. It seems that it does not crash when it returns to the code of SDK as it is.

Thank you for your wonderful response!

[2018-11-16 08:40] #82 closed

[2018-11-20 21:03] rohandubal commented on #91
Hello @anupsarode @dreamBegin

This is fixed in SDK version `2.7.0`

Please try it out and let us know if you continue facing issues.

Thanks,
Rohan

[2018-11-21 05:15] dreamBegin commented on #91
Hey @rohandubal

Thank you so much for being active and getting back to us  let me update my code to swift 4.0 to 4.2 then i'll update to version 2.7.0.
Thanks

[2018-11-21 12:35] dreamBegin commented on #91
Hey @rohandubal , Glad to inform problem solved. I have tested too.

[2018-11-21 17:07] muellerfr commented on #91
@dreamBegin, excellent - thank you for the quick verification.

[2018-11-21 17:07] #91 closed

[2018-11-22 14:02] larryonoff opened #106 "Offline mutations not executed"
**Describe the bug**

Offline mutations not executed.

I have checked `AWSOfflineMutationStore.swift` and observed that there're about 105 mutations in cache and they never executed.

I started digging more and observed that there's `resumeMutationExecutions` method which is never called, but should be called from `onNetworkAvailabilityStatusChanged` which is also never called.

I think that reall

[2018-11-22 14:22] larryonoff opened #107 "Integrate linter"
I have suggestion on adding SwiftLint linter to the project, e.g. rules that I'm using in my projects.

[code]

[2018-11-23 01:07] bernhardt1 commented on #8
@rohandubal Was an example ever created as you described?

[2018-11-26 17:22] palpatim commented on #107
Thanks for this suggestion. We have an internal task to do this as well (it's a pet peeve of mine to not have linted code :) )

We'll be sure to evaluate using your suggested rules above.

[2018-11-26 17:30] larryonoff commented on #106
I've just added steps to reproduce.

[2018-11-27 12:05] hithakshi opened #110 "Key an object in the cache by multiple keys"
**Describe the bug**
We are basically using DynamoDb in our project. It has both partition as well as hash key.
Also we are maintaining one table for all users.
Each user will have userID (partition key) and projectID (hash Key).
Create , update queries requires both userID and project ID. where as fetch (fetch projects) query requires only userID.
We have setup appSync for dynamo db with queries

[2018-11-27 16:35] palpatim commented on #110
Hi @hithakshi ,

Apollo's `cacheKeyForObject` takes a block that returns a cache key for the given object. For example, if you have an object with the following structure:

[code]

Then you could resolve the cache key with:

[code]

(Or however you compose the primary key)

For the second example, you might have to pre-compose the cache key:

[code]

Please let me know if this addresses your quest

[2018-11-28 04:47] hithakshi commented on #110
Thank you for the response. I have tried the above method.
Now records are created like "userID | projectID" format in  database file (created by Appsync in NSTemporaryDirectory). However , none of the queries are executed using offline mode. . Both results and error is nil.
  `let query = FetchProjectQuery(userId: userID, projectID: project.id)
                self.appSyncClient?.fetch(query: que

[2018-11-30 08:54] bwerther opened #114 "Subscription events out of order is problematic with Delta Sync"
**Describe the bug**
I've been trying out Delta Sync with a test iOS client and I've been running into a problem. If there are 2 or 3 mutations of the same object in a short period of time, AppSync subscription doesn't guarantee the order that the associated subscriptions will arrive in. On the server side we can enforce ordering and apply a sequence number, but on the client side Delta Sync cache

[2018-11-30 09:01] bwerther opened #115 "DeltaSync is missing sync function for base query + subscription but no delta query"
**Describe the bug**
DeltaSync seems designed to handle the following:
  1) Base query only
  2) Base query + delta query
  3) Base query + subscription
  4) Base query + delta query + subscription

However, the sync function wrappers are missing support for #3. I was able to make it work by using #4 and passing in empty no-op query functions and callback for the delta query. But it required me to

[2018-12-01 04:01] yunfei356 opened #116 "[FeatureRequest]Codegen for AppSync - Support objects with multiple S3Object types"
**Describe the bug**
I ran amplify codegen on my AppSync API and it generated API.swift and the GraphQL folder with mutations, queries, subscriptions, and schema.json. However, I noticed that the downloaded schema is missing one of the fields. Specifically, I have the following type:

[code]
But the generated code is missing the profilePicture field. I heard from one other person that he/she is al

[2018-12-01 04:13] yunfei356 opened #117 "AWSMobileClient for Swift Differs from Java Version of AWSMobileClient"
**Describe the bug**
The [link](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobile/client/AWSMobileClient.html) here has all the methods of the AWSMobileClient java class. There's one method there that I want to use and that is getUserAttributes. However, I tried to access this method in Xcode, but it couldn't find this method. I have imported AWSMobileClient in my s

[2018-12-01 04:13] yunfei356 opened #123 "AWSMobileClient for Swift Differs from Java Version of AWSMobileClient"
**Describe the bug**
The [link](https://aws-amplify.github.io/aws-sdk-android/docs/reference/com/amazonaws/mobile/client/AWSMobileClient.html) here has all the methods of the AWSMobileClient java class. There's one method there that I want to use and that is getUserAttributes. However, I tried to access this method in Xcode, but it couldn't find this method. I have imported AWSMobileClient in my s

[2018-12-02 02:36] yunfei356 opened #118 "AppSync API calls Fails to Return Data"
**State your question**
I am using AWSMobileClient to sign my users into my app, and then use Amazon Cognito to access AWS resources inside the app. Below are the setup I did for the authentication:

1) Followed [the guide here](https://aws-amplify.github.io/docs/ios/authentication?) and successfully set up AWSMobileClient so that users signed up using my app were successfully added to Cognito use

[2018-12-02 06:13] kadishmal commented on #5
It worked after updating all dependencies.

[2018-12-03 17:43] yunfei356 opened #120 "How to Write Subscriptions that Last for Duration of App and that Process Changing Parameters"
**State your question**
If a subscription is called from a view controller, then the subscription only lasts for the life of the view controller. How can you make it so that the subscription lasts for the life of the App? @palpatim has mentioned that one can have a provider decoupled from the view controller. How can such a provider exist given that iOS apps are ran through view controllers? Can y

[2018-12-04 09:41] larryonoff commented on #81
#109 may fix your issue

[2018-12-04 15:11] larryonoff commented on #36
+1

[2018-12-04 18:05] palpatim commented on #107
Merged #121, thanks!

[2018-12-04 18:05] #107 closed

[2018-12-04 23:53] nourahassan opened #122 "S3 upload doesn't work"
I followed the documentation here https://aws-amplify.github.io/docs/ios/storage#usage-with-graphql-apis-complex-objects

First the code generated by `aws-appsync-codegen` has a compilation issue, it adds an extension to S3Object and  compiler complains it is not configured. There is no struct S3Object only S3ObjectInput.

I commented this code:

[code]

Then when I create my Post with the file, i

[2018-12-05 01:01] rohandubal commented on #122
Hello @nourahassan

Sorry that you are having issues using the SDK.

Could you please provide with the schema which you are using? I will try to put up a small sample which demonstrates this feature. You should not have to delete any generated code.

Thanks,
Rohan

[2018-12-05 01:02] rohandubal commented on #116
Hello @yunfei356

Having multiple S3Object as part of object is currently not supported. If you only use the `profilePicture` field, you should be able to use the data type. I will take this as a feature request to the team for prioritization.

Thank you,
Rohan

[2018-12-05 01:07] rohandubal commented on #120
Hello @yunfei356

Yes, starting and stopping a subscription at will is possible.

You should use the `cancel()` API on the subscription watcher. Example: https://github.com/aws-samples/aws-mobile-appsync-events-starter-ios/blob/master/EventsApp/EventDetails.swift#L59
The `cancel` API allows you to stop a subscription while being in the view. As @palpatim mentioned, if you de-couple the view with p

[2018-12-05 01:12] rohandubal commented on #118
Hello @yunfei356

Can you please confirm what type of Authentication are you using for your `AppSync` API? Is it `AWS_IAM` or `Amazon_Cognito_UserPools`?

In the code which you have pasted above, the `AWSAppSyncClient` is initialized with authentication mode of `Amazon_Cognito_UserPools` and not `AWS_IAM`. But the description which you have posted says that you attached permissions on the Cognito

[2018-12-05 01:21] rohandubal commented on #117
Hello @yunfei356

Thanks for reporting this. We will working on adding the method on the Swift side and update this thread once it is released.

Thanks,
Rohan

[2018-12-05 04:54] yunfei356 commented on #120
Hi @rohandubal

By a static provider do you mean something like a singleton class, like AWSMobileClient.sharedInstance()? So I should initialize such an instance in my AppDelegate.swift and use it throughout my view controllers?

Thanks,
Yun Fei

[2018-12-06 06:44] larryonoff opened #124 "AWSAppSyncSubscriptionWatcher.connectedCallbackDelegate() Crash"
**Describe the bug**
We have the following crash report.

[code]

[code]

**To Reproduce**
N/A

**Expected behavior**
Crash doesn't occur.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.7.0 from master branch
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2

**Device Informa

[2018-12-06 17:00] peteslavich commented on #90
We created two tests inside ApolloTests/FetchQueryTests that I believe reproduce the issue. The first test, testSICSecondQueryAlone(), runs successfully, and is essentially a duplicate of testFetchIgnoringCacheData() but uses a StarshipQuery and a .returnCacheDataElseFetch cache policy. The second test, testSICFetchIgnoringCacheData(), first performs the fetch from testFetchIgnoringCacheData(), th

[2018-12-06 17:06] peteslavich commented on #90
Additionally, we believe the code change that is causing the issue is in commit c417b11 in GraphQLExecutor line 214. In previous versions of app sync that do not show the bug, the second query executes the throw JSONDecodingError.missingValue, while since this change, the second query executes self.complete(...)

[2018-12-07 19:37] yunfei356 commented on #118
Hi @rohandubal,

I know you guys are probably super busy but it would be great if you can point me to the right direction as I am blocked in my project because of this authentication issue. Whenever you have time, can you provide some sample code as to how to do this authentication correctly? I followed everything in the guides and still not getting any data from AppSync.

Thanks a ton.

[2018-12-08 19:37] larryonoff opened #126 "Add priorities for mutation"
**Is your feature request related to a problem? Please describe.**
There're cases when it's not important the order of mutations executed. But currently all mutations executed sequentially and there's no way to change it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of

[2018-12-08 19:38] larryonoff commented on #126
link with PR #109

[2018-12-08 19:42] larryonoff commented on #37
I'm going to implement it as a part of #109. It least with #109 codebase it can be done easily.

[2018-12-09 20:07] rohandubal commented on #123
Hello,

This issue is now fixed in `2.7.4` release of `AWSMobileClient`. Please let us know if you continue to face issues.

Thanks,
Rohan

[2018-12-09 20:07] #123 closed

[2018-12-10 05:51] rohandubal commented on #126
Tagging @undefobj to get thoughts on prioritization of the feature.

[2018-12-10 09:07] larryonoff commented on #126
@rohandubal please note that it's already implemented in #109

[2018-12-10 20:44] javiertc commented on #124
Hi, we are using this library in an App and is constantly having this crash. During the weekend I had 63 of these crashes. Have you found a turnaround for this?

[2018-12-11 03:04] kjlis commented on #122
I'm experiencing exactly the same problem. In the beginning I was following [the amplify guide](https://aws-amplify.github.io/docs/cli/graphql#s3-objects) which mentions only adding `S3Object` type:
[code]
After running `amplify push` GraphQL API gets updated, the auto-upload didn't work, so I followed the [guide from Storage section](https://aws-amplify.github.io/docs/ios/storage#usage-with-graph

[2018-12-11 06:33] larryonoff opened #127 "Revise `AWSAppSyncClientInfoError`"
I suggest revise `AWSAppSyncClientInfoError` errors. Implemented in #128.

1. The current definition doesn't have any sense and can be replaced with `NSError`. It just has `errorMessage`.
2. `AWSAppSyncClientInfoError` can be strongly typed verified. You can only compare strings that are in `errorMessage` what isn't a good practice.
3. Popular libraries have different but close to each other style

[2018-12-11 09:06] larryonoff commented on #124
@javiertc from my current experience of using AWS AppSync SDK for iOS I recommend you fixing it by yourself. There's no issues that I submitted and Amazon fixed. Even basic features don't work well, e.g. mutations caching. That I had to fix by myself.

[2018-12-11 15:51] muellerfr commented on #124
Hi @javiertc  and @larryonoff,

we'll take a look to get this fixed as soon as possible. If you have any additional information (repro steps, etc.) that will help us to debug the issue, please send them our way.

[2018-12-11 16:22] larryonoff commented on #124
The problem that I cannot share, but I think that sample or unit test can be created. @javiertc could you do sample or unit test?

My assumption that the issue happens on canceling `AppSyncSubscriptionWithSync` or `AWSAppSyncSubscriptionWatcher`.

[2018-12-11 20:04] palpatim commented on #124
I'm seeing some data races in `AppSyncSubscriptionWithSync` that are implicated in this crash. Investigating.

[2018-12-11 21:43] rohandubal commented on #118
Hello @yunfei356

You have the correct code for the use-case you are trying to achieve.

AWSCognitoAuth is an SDK which offers a web view based authentication rather than the native solution offered by AWSMobileClient. AWSCognito is a completely different SDK for data sync.

Thanks,
Rohan

[2018-12-11 22:04] yunfei356 commented on #118
Hi @rohandubal,

I discovered that the issue I was having was not with authentication, because I can make an AppSync query call without triggering any errors. The call succeeded but the data returned is nil. I tried calling on the console and it returned data fine that way. I am pretty sure my code is correct. Do you have any idea why it would return nil? Below are my snippets of code:

`let appDe

[2018-12-12 20:20] bwerther commented on #114
Btw, I'm seeing this problem frequently -- e.g. when a client has offline mutations and reconnects, they are played back quickly to all other subscribing clients. Quite frequently they end up out of order and one or more of the clients shows the wrong data. This seems like a pretty fundamental flaw in the whole Delta Sync model unless there is a fix or best-practice that I'm missing to avoid the i

[2018-12-13 03:35] freshtechs commented on #37
Is this what I’m experiencing but I was unable to detect the problem as you? Check #92

[2018-12-13 10:38] larryonoff commented on #92
Just checked ApolloStore code. It looks that the behaviour you describe is by design. See a code below

[code]

It tries to read the query which I assume fails since the query not exist in cache.

[2018-12-13 13:33] shannon-hager-skookum commented on #92
I agree. This behavior is part of why we moved completely away from using AppSync local cache for anything other than offline mutation caching.

[2018-12-13 13:39] larryonoff commented on #92
@shannon-hager-skookum could you share your solution? Our team considers custom cache solution for AppSync if we won't move away from AWS AppSync solution (it really buggy with slow support).

BTW. I've rewritten perform mutation mechanism in PR #109. It is not yet accepted by Amazon.

[2018-12-13 13:46] shannon-hager-skookum commented on #92
We created a CoreData layer for local cache, optimistic updates, etc. There are still issues caused by the appSync local cache (I _really_ wish we could disable it instead of simply ignoring it) but we never check that cache, never manually update it, and are mostly unaffected by it.  It is a lot more work to do it the way we did, obviously, but it works.

[2018-12-13 13:49] larryonoff commented on #92
@shannon-hager-skookum it would be great having some generic solution for, with support of CoreData / Realm / SQLite

I assume that to disable local cache you just should just set `fileURL` to `nil` for AppSync.

[2018-12-13 14:23] shannon-hager-skookum commented on #92
If that did work, it seems like it would also disable offline mutation caching, which is one of the biggest benefits to AppSync (imo).

[2018-12-13 14:30] larryonoff commented on #92
@shannon-hager-skookum the biggest benefit doesn't work properly. As for me the only thing why AppSync is reasonable to use is that you don't need configure web client.

[2018-12-13 15:57] larryonoff commented on #124
Just caught the crash during debugging here:

https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/master/AWSAppSyncClient/AppSyncSubscriptionWithSync.swift#L310

[2018-12-13 16:15] larryonoff commented on #124
Just reproduced the crash by switching on / off "Airplane mode".

[2018-12-13 16:24] larryonoff commented on #124
when internet connection is turned off `AWSAppSyncSubscriptionWatcher` restarts subscription, then gets an error (since internet is not reachable) and restarts it again.

[2018-12-13 16:39] larryonoff commented on #124
did some improvements in #130. Crash still happens, but not so often.

[2018-12-14 06:09] kjlis commented on #122
Hi!

Is there any progress on the code example for Swift example of automatic upload to S3?I found an old issue that seems to describe the same issue: https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/45
Is it still the root cause of the problem or it's more likely due to some misconfiguration on my end?

Thanks!

[2018-12-17 07:34] ravishagnihotri45 opened #133 "Aws app sync pod file not supporting to the latest swift4.1 version"
**Describe the bug**
while updating the pod file for AWS app sync we have received the below mentioned issue:
Use of undeclared type 'MQTTSubscritionWatcher'

I am using the xcode 9.3 version with Swift 4.1.

**To Reproduce**

1. Go to '...' xcode and drag and drop you code location on the terminal window
2. Update the pod file in which below mentioned pods are declared

# AWS app sync implementat

[2018-12-19 20:13] airstance opened #135 "how to use iOS Sync/DeltaSync with paginated results?"
How do I use Sync/DeltaSync with paginated results?

(Posted on the AWS Forums but this is probably a better place to ask the question?)

There's no obvious way to use the iOS library sync/deltasync functionality for anything other than a single response from the service. What if the backend uses something like DynamoDB which may enforce pagination due to several reasons (RCU exhaustion, query siz

[2018-12-19 23:31] airstance commented on #135
... perhaps a return value from baseQueryHandler or some other signal to continue requesting with a new parameter (page/nextToken/whatever).

[2018-12-20 17:37] bernhardt1 commented on #8
@btn52396 I ended up starting a fresh amplify project and dropping my previous appsync project into it.

I outline my steps to add notifications at the bottom of this comment: https://github.com/aws-amplify/amplify-js/issues/1415#issuecomment-447125676

Android notifications still aren't working so if you run into similar issues and figure it out can you let me know? Also, If you find a more compr

[2018-12-24 06:22] airstance opened #137 "Underscores in GraphQL schema are causing problems"
Underscores don't seem to be handled correctly when codegen is building the API.swift file

Given this schema

[code]

Codegen will add this to the API.swift file:

[code]

The init function correctly sets the "date_created" field but the getter and setter do not.

[2018-12-24 17:44] cbommas commented on #135
@airstance
Thank you for reporting this issue. We will investigate and update this thread when we have more information.

[2018-12-24 18:08] shannon-hager-skookum commented on #137
This bug was reported on the aws-appsync-codegen repo but I don't think it will be fixed unless you fork and fix it yourself. All issues on aws-appsync-codegen have been removed and the repo is read-only in favor of using Amplify CLI going forward.
https://github.com/aws-amplify/amplify-cli

[2018-12-26 18:32] airstance commented on #137
Unfortunately, this is happening with the `amplify codegen` command

[2018-12-26 19:00] airstance commented on #137
I'm afraid it's an Apollo thing and won't be fixed.  It would be nice if this was pointed out early and not buried in the Apollo server documentation.   I now have a ton of data with underscores in my repository.  If this is indeed true, perhaps Amazon can add this to their documentation in a more prominent place.

From the Apollo 2 server documentation: [Understanding schema concepts](https://www

[2018-12-28 14:58] shannon-hager-skookum commented on #137
Regardless of Apollo's style conventions, the codegen should never produce this bug.

If the generated code has
[code]

then the generated code should also have

[code]

not

[code]

If this is an issue of style, the snake_cased names should never be changed to camelCase. Currently, the snake_case names are changed to camelCase in some places when generating the swift code but remain snake_case in

[2018-12-28 15:38] dgarkusha commented on #106
I also face the same problem in 2.8.0. #109 fixes it, thanks @larryonoff !

[2018-12-28 15:40] larryonoff commented on #106
Looking forward when Amazon accepts this PR.

[2018-12-28 16:40] dgarkusha commented on #137
Just some observations (though I'm still using aws-appsync-codegen):

For me the codegen properly works for types, for example, it translates:

[code]

into

[code]

But for inputs it works only partially. Similarly to what @shannon-hager-skookum mentioned, the following piece of schema:

[code]

is converted into

[code]

but at the same time ends with

[code]

[2018-12-31 16:15] palpatim opened #139 "Wrap Reachability in a protocol to aid testability"
**Is your feature request related to a problem? Please describe.**

We currently inject Reachability directly into consuming types. We should wrap it in a protocol to aid testability. That should lay the groundwork for better test coverage of mutation queue behavior when the network stops/resumes.

**Describe the solution you'd like**

Extract the Reachability functions we're currently using into

[2018-12-31 19:45] minbi commented on #137
Migrated this issue over to https://github.com/aws-amplify/amplify-cli/issues/643

[2018-12-31 19:45] #137 closed

[2018-12-31 20:30] airstance opened #140 "Individual SQLite inserts are REALLY slow"
I've noticed that when you fetch a few thousand records from AppSync, the SQLite cache gets clogged with pending inserts.  These interfere with queries as well.

I'm no SQLite expert, but can't the inserts be wrapped in a transaction to speed things up?  I've included code that I think is safe.  I've also wrapped the entire mergeRecords function in a transaction and it's even faster.  The trouble

[2018-12-31 20:51] muellerfr commented on #124
Hi @larryonoff, were you able to validate the fix?

[2018-12-31 21:20] palpatim commented on #140
Thanks for the PR @airstance. I'll review as soon as I'm able, but the idea of adding a Tx around the record merge seems reasonable to me. We could also explore adding records in a single batched insert rather than individual inserts, but I can investigate that.

As part of merging this, I'll also want to make sure we've got test coverage around the normalized cache, and in this case, a simple per

[2018-12-31 21:56] minbi commented on #137
Closed issues are not actively monitored.

Thanks

[2018-12-31 22:02] palpatim commented on #135
Hi @airstance,

For the first issue:

All `GraphQLResult`s should include a `source` that you can inspect:

[code]

Thanks for calling this out, I'm adding these conditions to our tests.

For the second issue: @rohandubal other than invoking subsequent queries with new `nextToken`s, is there a recommended pattern for retrieving paginated results?

[2018-12-31 23:01] larryonoff commented on #124
Hi @muellerfr. I wasn't able to do it yet. We've the app that uses `delta sync` on hold. Hopefully I'll check the next week

[2019-01-01 16:44] larryonoff commented on #126
Some story why priorities are needed. We have one AppSync client in the app. We log analytics events via AppSync and there're ton of them. There're not so important than user actions, e.g create some object (workout, meal plan). So we had an issue when user actions are executed with a huge delay. Also we have some important logic that should be executed ASAP. Priorities helped us. In other way we

[2019-01-03 02:51] teeeg commented on #122
Thank you @palpatim . Can confirm I see this fail, as you say, "where the S3Object is part of a mutation input type, rather than a direct parameter of the mutation."

[2019-01-03 09:45] larryonoff commented on #139
One more thing I would like to suggest is moving Reachability inside the framework, not as dependency of AppSync. This will exclude conflicts when someone uses newer or older version of dependency, so that AppSync update won't be possible until updating dependency.

It can be done via git submodules or Carthage.

[2019-01-03 10:07] larryonoff opened #143 "Make AWSAppSyncOfflineMutationDelegate useful"
**Is your feature request related to a problem? Please describe.**

See `AWSAppSyncOfflineMutationDelegate` definition.
[code]

**Describe the solution you'd like**

Introduce protocol like
[code]
with default implementation
[code]

As an additional option `AWSAnyMutation` can be introduced which will replace `AWSAppSyncMutationRecord`. (don't know yet what properties should it has)
1. `AWSAnyMuta

[2019-01-03 15:35] palpatim commented on #143
Hi @larryonoff,

Thanks for the proposal. Based on this and our conversation on your other PR, this seems like a good proposal. I'll add it to our backlog as a feature request and likely pick it up with some of the mutation cleanup work I'll be doing over the next couple of weeks.

I'm not sure about the `AnyMutation`, both in terms of the naming and the use cases we want to support with it, but I

[2019-01-03 16:06] palpatim commented on #135
While we're waiting for @rohandubal to chime in, is this a fair description of the sequence you're concerned about?

- App launches for first time
- App executes `listRecords()` query
- Base query returns `nil` from cache
- Base query returns ResultSet1 from service, with NextToken1 for continuation
- AppSync stores RS1/NT1 as cached result for `listRecords()`
- App executes `listRecords(NT1)` to

[2019-01-03 16:15] palpatim commented on #133
Hi @ravishagnihotri45,

Thanks for your question. AWS AppSync uses Swift 4.2, and you must use Xcode 10.0 or greater to build. Do you still encounter the issue when you use the latest build tools?

Also, I note you have `AWSCognitoIdentityProviderASF` listed twice--is that a copy/paste artifact?

Finally, are you using the `use_frameworks!` declaration in your podfile?

[2019-01-03 16:18] palpatim commented on #127
Hi @larryonoff,

As I noted on #128, I think most of that PR's changes no longer apply, but the additional param onboarding makes some sense. I can take this on as part of other changes I'm working on, crediting you in the CHANGELOG and commit message; or you can revise the PR to work against the latest `master`. Let me know.

[2019-01-03 16:19] palpatim commented on #126
Thanks for the use case description. We've heard from other customers that mutations that include S3 objects are another use case that would benefit from priorities.

We're evaluating this internally to come up with a cross-platform product direction and will reply on this thread as soon as we have more info.

[2019-01-03 16:33] palpatim commented on #118
Hi @yunfei356,

Sorry for the delayed response. The behavior you're describing could be happening for a number of reasons. For example, your AppSync resolver may have authorization or authentication logic that the console query fulfills in a way that your app setup does not. Similarly, you may be passing subtly different data from the console than your app.

One thing you can do is to turn on Clou

[2019-01-03 16:45] palpatim commented on #115
Hi @bwerther,

This is actually the designed behavior. The idea is that we are trying to support use cases for keeping app data in sync, and a `baseQuery + subscription` case doesn't take advantage of the optimizations a delta query offers.

For your specific use case, you could work around it by using a `SyncConfiguration` with `baseRefreshIntervalInSeconds` of 0 seconds. That would mean your del

[2019-01-03 16:56] palpatim commented on #114
Hi @bwerther,

We do guarantee the delivery order of mutations to the server, and as you say it is possible to do some consistency checks on the server, but it's uncommon to have client-enforced ordering of server-received events--at least, it's not a pattern I've encountered frequently. It raises a whole set of synchronization questions when events are received from sources other than the app its

[2019-01-03 17:13] bwerther commented on #114
Thanks Tim. The scenario seems like a pretty common one — multiple
mutations happen against an object, and all subscribers should quickly
converge to a common view of that object. This doesn’t seem to be the case
here — I.e. the server holds the definitive view of the object, but
subscribers may have played the mutation messages out of order and see
out-of-date data (without any expectation of con

[2019-01-03 17:47] larryonoff commented on #143
I also have doubts about `AnyMutation`, but I still find advantages. `AWSAppSyncOfflineMutationDelegate` events will remain the same in case of new parameters.

`AnyMutation` can be easily replaces with protocols composition, e.g. protocol IDontKnowHowToNameMutation = MutationCachable & MutationProtocol & ...

[2019-01-03 17:51] larryonoff commented on #126
I think it can be quite difficult to make it consistent between different platforms. It's better using concrete platform features / advantages (i.e. iOS).

[2019-01-04 00:46] yunfei356 commented on #118
Hi @palpatim,

I actually stopped working on this project. If I work on it anymore in the future and experience this problem again, I will reopen the issue. Thanks.

[2019-01-04 00:46] #118 closed

[2019-01-04 00:46] yunfei356 commented on #120
Hi @palpatim Thanks for the design tips. I will keep them in mind for future similar projects.

[2019-01-04 00:46] #120 closed

[2019-01-04 19:59] javiertc commented on #135
Hi @palpatim, I think that this issue has covered more importance since AppSync has a limit of 1MB for the base query as stated here https://forums.aws.amazon.com/thread.jspa?messageID=857118#857118. Thus, it's really important to paginate in the base query. This is happening to us right now. We used to bring 1500 records in the base query but now we can't do it and we have to paginate.
In the ans

[2019-01-06 03:33] shawnmmatthews commented on #36
+1

[2019-01-06 06:59] kjlis commented on #122
Thanks a lot for looking into this @palpatim!

Few follow-up questions:
1. Does the download from S3 also happen automatically when running GraphQL queries? The docs seem to be missing any examples of that. If so:
    1. How can we access the downloaded file (the model stores just the S3 bucket, key etc.)
    1. Are downloaded files cached by default?
1. The docs in [Storage](https://aws-amplify.g

[2019-01-07 10:20] tryWabbit opened #145 "Improve AppSync logging"
Hello AWS Appsync Team!

Do we have a way to log the current parameters of a Mutation/Query request by a AWSClient object or anyhow? Currently i have to write method to log all the queries so it'll would be great if we can do that on all the requests to make debugging easy.

Thanks and Regards
Kuldeep Tanwar

[2019-01-08 02:24] returnzer0 opened #146 "How to generate swift code for custom (nested) GraphQL queries?"
**Question**
I am following the example ChatQL app listed [here](https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular), my goal is to port it over to iOS.

In the sample project written in Angular, there is a custom [query](https://github.com/aws-samples/aws-mobile-appsync-chat-starter-angular/blob/master/src/app/chat-app/graphql/queries/getUserConversationsConnection.ts) that gr

[2019-01-09 23:39] palpatim commented on #135
Hi @javiertc,

Yes, that's what I mean, but I should have specified: you'd call that from within the base/delta query's result handler, just like you'd do if your app user scrolled to the bottom of the page and you needed to retrieve the next page of results.

Let me attempt to clarify by breaking it down a bit further.

Consider a blog app. In that schema, you might have a `Post` type, some mutat

[2019-01-10 07:48] larryonoff commented on #139
@palpatim I see several options here.

**1. CocoaPods dependency or Carthage dependency**

I think this's popular option. The only disadvantage I see is dependency versions conflict if someone uses newer or older version of the dependency that AppSync uses.

**2. Internal dependency as a source, NOT as framework**

The advantage that it will eliminate versions conflict.

The disadvantage that it's

[2019-01-10 15:11] javiertc commented on #135
Hi @palpatim, thanks for the explanation, really appreciated. I'm going to work on it.

[2019-01-10 17:44] desokroshan opened #149 "Offline Mutation (optimistic update) transaction fails if performed before query"
Attempting to create an offline mutation fails if the query used for the transaction has not been used previously. This is troublesome for a "Create User" scenario.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt performing mutation with an optimistic update transaction that uses a query that has not been used previously
2. An error will be thrown stating "missing value"

**Expected

[2019-01-10 17:44] desokroshan commented on #149
Orginally opened by @zigfreid5.

[2019-01-10 21:38] palpatim commented on #122
This should be fixed on 2.9.0. Please let us know if you continue to have any problems.

@kjlis:

1. Downloads do not happen automatically.
    1. You should be able to use a GraphQL object's field conforming to `S3ObjectProtocol` to download using the AppSyncClient's S3ObjectManager. Please see the [S3ObjectWrapper.swift](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/master/AWSAppSyn

[2019-01-10 22:00] palpatim opened #150 "Add CocoaPods dependencies to source control"
**References**: #14, #15, PR #58

Currently, we use CocoaPods as our dependency manager, which makes it easy for the _contributors_ to the SDK (e.g., the core team and devs who submit PRs) to have a fully-debuggable development environment that builds only on-demand resources.

However, developers who _consume_ the SDK often prefer to use Carthage since it is a simpler tool with much less project

[2019-01-10 22:00] palpatim commented on #150
I'm testing this locally now, and hope to have it ready for the next release.

[2019-01-10 22:08] palpatim commented on #139
Hi @larryonoff,

I agree with your assessment, and choosing what you're outlining as option 1, with a modification that makes it behave like Option 2: I'm currently testing adding all of our Pods to source control (#150), which would remove the need for developers who consume this library via Carthage or source to install CocoaPods and run a `pod update` before building.

* Carthage developers who

[2019-01-10 22:09] palpatim commented on #139
I'm closing this issue since it relates specifically to Reachability. Let's continue any further conversation on dependency management strategies on #150.

[2019-01-10 22:09] #139 closed

[2019-01-10 22:16] palpatim commented on #45
Commenting on this old issue to note that this issue is fixed as of release 2.9.0.

[2019-01-10 22:17] palpatim commented on #25
Commenting on this old issue to note that this issue is fixed as of release 2.9.0.

[2019-01-10 22:51] freshtechs commented on #149
Actually is already an open issue check #92

[2019-01-10 23:07] nourahassan commented on #122
Just tried to run `carthage update` to get 2.9.0 but it fails :(

[code]

Should that be a different issue?

[2019-01-11 00:47] palpatim commented on #122
@nourahassan Thanks for letting us know. It looks like the Carthage build failed on travis-ci as well. We're investigating.

[2019-01-11 02:51] palpatim commented on #150
Turned out I had a bug in 2.9.0, so I went ahead and merged the Pod commit as part of the fixed version. :)

This will be live as of 2.9.1.

[2019-01-11 03:46] palpatim commented on #150
OK, 2.9.1 is live, with Carthage build fixes. Fingers crossed :)

Please let us know if you encounter any issues.

[2019-01-11 03:47] palpatim commented on #122
@nourahassan

We've release 2.9.1 now that should fix the problem. Please let us know if you encounter any issues.

[2019-01-11 18:26] #149 closed, assigned to palpatim

[2019-01-11 20:07] nourahassan commented on #122
Carthage downloads the framework but gives error `Incompatible Swift version - framework was built with 4.2 (swiftlang-1000.11.37.1 clang-1000.11.45.1) and the local version is 4.2.1 (swiftlang-1000.11.42 clang-1000.11.45.1)`

But it built the schema successfully!

It still didn't upload the image to s3, only saved the object to dynamoDB. I am using the imageURL.absoluteString as the s3ObjectInput

[2019-01-12 20:45] returnzer0 commented on #146
Another way to summarize this problem is that my resolvers on type `UserConversation` for the fields `associated` and `conversation` are not showing up in the swift code, even though the resolvers are setup properly like the angular chat application.

[2019-01-14 15:43] palpatim commented on #145
Hi @dreamBegin,

tl;dr: Unfortunately, AppSync doesn't have consistent logging coverage, so there's not a currently supported way to retrieve that info from the logs.

**Discussion**

The AWSAppSync module uses the `AppSyncLog` module to output log messages to the configured log.  Clients can set up shared logging (which is used by all AWS SDK components, including AppSync, Auth, etc) by doing som

[2019-01-14 15:57] palpatim commented on #146
Thanks for the update @returnzer0. I'm investigating this and hope to have an answer for you soon.

[2019-01-14 20:57] palpatim commented on #122
Hi @nourahassan,

It looks like you're using the binary Carthage build. We currently build the SDK with Xcode 10/Swift 4.2, which means that to consume from Carthage you'll need to use the `--no-use-binaries` flag, as in:

[code]

Regarding not uploading: Because you had a problem building, I wonder whether there was a problem using the SDK. I'll investigate on my side but in the meantime, can you

[2019-01-14 21:58] palpatim commented on #114
Hi @bwerther,

Thanks for clarifying. I'll take this on as a feature request to the team. At the minimum, the SDK could provide a notification to the calling code that a subscription was received on an object whose `version` was out-of-order. That would at least give app code the ability to designate its desired conflict resolution (similar to how we do conflict resolution on mutations currently),

[2019-01-14 22:13] nourahassan commented on #122
Yes it is 2.9.1. Attached the info.plist from `Carthage/Build/iOS/AWSAppSync.framework`

<img width="710" alt="screen shot 2019-01-15 at 12 10 46 am" src="https://user-images.githubusercontent.com/537740/51144545-07e3be80-185a-11e9-929d-5f72a200785f.png">

As I said Carthage did build the schema successfully.

[2019-01-14 22:50] palpatim commented on #89
@J-L

Sorry for the delayed response on this issue. It's unclear to me whether this is an error in the SDK or in the lambda resolver. Can you provide a sample resolver function that demonstrates the issue?

Also, the result mapping templates I've seen used in the past have had specific error handling blocks, like in this default DynamoDB "Return Single Item" resolver:

[code]

Do you experience th

[2019-01-14 23:00] palpatim commented on #76
Hi all,

Version 2.9.1 of the SDK includes Pods in the source code, allowing devs who consume from source (e.g., directly including source, or using `carthage update --no-use-binaries` to run without CocoaPod installation. That should make it easier to build from source and work around the Swift incompatibility issue.

However, there may be issues with framework incompatibility if the host app is

[2019-01-14 23:04] palpatim commented on #83
Hi @kiroskirin,

Please see the discussion on #76. As of 2.9.1 of AWSAppSync, the project now includes source for the up-to-date veresions of Reachability and SQLite.swift, and I think that should resolve this issue (assuming your app isn't separately declaring a dependency on an older version of either of those libraries).

I'm going to close this in favor of #76, but if you see problems that don

[2019-01-14 23:04] #83 closed

[2019-01-14 23:35] palpatim commented on #79
Hi folks,

We've recently added tests to ensure that we do in fact release `appSyncClient` when the owner sets to `nil`.

https://github.com/awslabs/aws-mobile-appsync-sdk-ios/commit/4936c31af45a89eaaade78752499f686c50fc1c6

It should be fixed as of 2.9.1.

[2019-01-15 15:58] palpatim commented on #90
Hi @joelmbell,

Sorry for the delayed response on this. I have a test that demonstrates this behavior and am investigating the proper way to handle this. I'll update this thread as soon as I have more info.

[2019-01-15 18:06] #106 closed

[2019-01-15 20:58] palpatim opened #153 "iOS Best way to handle offline and subscription"
*Opened on behalf of AWS Forums User [a4real](https://forums.aws.amazon.com/profile.jspa?userID=473796)*

---

Hi,

I am referring to https://aws-amplify.github.io/docs/ios/api , I could see multiple ways

1. Run mutation
2. Offline
3. Delta Sync
4. Subscription

In our app, we have a scenario to create order and sync orders across devices and we should support offline as well. If I look at the do

[2019-01-15 21:10] palpatim commented on #153
Hi Anoop,

Your question is a bit hard to answer without some additional detail. Each of the mutation, delta sync, and subscription features have a specific use case:

* **Mutations** change the state of your system. In AppSync, mutations can also be registered to send notifications to `Subscription`s.
  * As a special case, the AppSync mobile SDK has support to queue mutations for later delivery

[2019-01-16 16:57] javiertc commented on #124
Hi @palpatim, has this been resolved? We disabled subscriptions for the moment, we are grabbing the changes with the delta sync. For us, one of the main reasons for using AppSync is the subscriptions and we are holding on to see if they get fixed.

[2019-01-16 20:45] palpatim commented on #124
Hi @javiertc, we believe this has been resolved, yes, but I'd love to hear if it addresses your specific case.

[2019-01-17 09:34] medvedNick opened #154 "Get other user's attributes by its id/username through AWSMobileClient"
I'm making an iOS app using amplify. Auth is performed using Cognito, and the database is Appsync GraphQL.

There is a `Post` entity in the database, which has `userID` attribute got from Cognito. I'd like to show creator's info in that `Post` in app UI. For example, `username` and a few other attributes from Cognito user (like profile picture).

Is there any way I can achieve this? I do not see a

[2019-01-17 11:46] thegreatgabsby commented on #36
+1

[2019-01-17 13:37] larryonoff commented on #36
PR #141 is already in master!

[2019-01-17 13:42] thegreatgabsby commented on #36
actually ye, I managed to clear the store. cheers

[2019-01-17 16:17] helloniklas commented on #7
I'm confused how to use this with the AWSMobileClient through Amplify and AppSync.
I need to do:
[code]

[2019-01-17 16:55] palpatim commented on #7
@helloniklas

You need to ensure your chosen auth/credentials provider is initialized prior to initializing your AppSyncClient. For example, one pattern I've used is to have a `resolveUserState` method that can init/deinit clients as needed based on user authentication changes::

[code]

If you have any other questions, please open a new issue so we can keep conversations off of closed threads

[2019-01-17 17:10] helloniklas opened #157 "Improve documentation on using AWSMobileClient with AWSAppSyncClient"
**State your question**
@palpatim  After initialising the AWSMobileClient and being signed in. I then want to set up the AWSAppSyncClient. Using the code from Amplify docs says it's deprecated. But using new method call still says ```Error initializing appsync client. invalidAuthConfiguration("AWSCognitoUserPoolsAuthProvider cannot be nil.")```

[code]

**Environment(please complete the following

[2019-01-17 17:12] helloniklas commented on #7
Ok thanks @palpatim . Still complains AWSCognitoUserPoolsAuthProvider cannot be nil. I suspect I'm not initialling the AppSync correctly. I opened a new thread.

[2019-01-17 20:20] palpatim commented on #154
Hi @medvedNick,

My initial thoughts:

Regardless of the data source, you'd probably want to create a `User` or `UserProfile` type in your app's schema that would allow you to query it via GraphQL. (You'd obviously want to ensure that only publicly viewable data gets shadowed.)

The source of the data could be app storage (e.g., your app's DynamoDB table if you're using that) that you populate whe

[2019-01-17 20:26] #115 closed

[2019-01-17 20:37] palpatim commented on #157
That depends on the implementation of `MyCognitoUserPoolsAuthProvider`.  For example, if it calls `AWSMobileClient.sharedInstance().getTokens()` then the mobile client will take care of handling refresh, etc. From the `getTokens` method:

So you might expect an implementation to look something like:

[code]

Or even, if you just want to use MobileClient directly:

[code]

Hope this helps

[2019-01-17 21:53] helloniklas commented on #157
Ok great that helps a lot... These steps are missing from the AWS Amplify step by step tutorial when following the Add auth stuff. I thought maybe there was a way to just send the AWSMobileClient.sharedInstance() into the AWSAppSyncClientConfiguration then this would just be taken care of.

[2019-01-17 22:23] medvedNick commented on #154
@palpatim sounds reasonable, thank you

[2019-01-18 00:42] palpatim commented on #157
Thanks for the feedback--I'm going to recharacterize this issue as a feature request to improve our documentation, since it is a bit difficult to follow the auth flow setting up an AppSync client using Mobile Client.

[2019-01-18 01:51] #81 closed

[2019-01-18 07:32] #150 closed

[2019-01-18 15:07] palpatim commented on #154
@medvedNick

After some more discussion with the team, I’ve confirmed that "shadowing" the profile data is the better solution; we generally don’t want AdminGetUser calls used for arbitrary queries of data. If your use case is sufficiently relaxed about the synchronization of profile data, one approach might be to update your AppSync profile store when the customer logs in. Practically speaking, i

[2019-01-18 16:03] palpatim commented on #157
@helloniklas I've edited my answers above to use async rather than sync methods--sorry for the confusion. I'll leave the feature request the same though.

[2019-01-18 16:22] palpatim commented on #157
I've updated the documentation to use `UIApplication.LaunchOptionsKey`. Please let me know if you've got any other questions.

[2019-01-18 17:01] helloniklas commented on #157
@palpatim Thanks... but it says AWSAppSyncClientInfo is depreciated.

[code]

The only method I could find that takes the userPoolsAuthProvider is:
[code]

Is this the way to do it?

[2019-01-18 23:32] palpatim commented on #36
This is released on 2.9.2. Please let us know if you have any issues.

[2019-01-19 00:32] palpatim commented on #92
@freshtechs

That's the issue I'm looking at. I have a test that replicates this issue and am working on figuring out the proper way to handle it.

[2019-01-19 05:51] larryonoff commented on #92
@palpatim please check my comment https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/92#issuecomment-446921827

This the issue from Apollo. So Apollo code needs to be changed.

[2019-01-20 23:49] palpatim commented on #15
Hi all,

I think that for the most part, we've resolved the Carthage build pain.

* We will endeavor to build Carthage binaries for our releases on the latest production version of Xcode, and its attendant version of Swift. Packages that consume AppSync via binary, that also build with the latest version of Xcode, should be able to consume without a rebuild
* We have added AppSync's CocoaPods depe

[2019-01-20 23:49] #15 closed

[2019-01-21 00:36] michaeleconomy commented on #37
I haven’t looked at this in a while.   Is there a way now to completely disable caching and offline support?

That’s really what i was looking for.

[2019-01-21 00:40] palpatim commented on #42
@fans3210

Regarding your use case description:

AppSync currently suspends network activity when it enters the background, and resumes when the app resumes foreground. In addition, the recently-added [Delta Sync](https://aws-amplify.github.io/docs/ios/api#delta-sync) feature basically does just what you specify: when creating a new `sync` subscription, the system will query for only the changes s

[2019-01-21 00:55] palpatim commented on #76
I've replaced the actual Cartfile contents with a comment as described above. Carthage still builds the project locally (and as a side benefit, no longer downloads the specified dependencies that would be extraneous in any case). See PR #158

And this should remove confusion about which dependency versions are actually in use. Combined with including Podfiles in the source, this should greatly red

[2019-01-21 01:00] fans3210 commented on #42
@palpatim Sorry I don't know this issue is still opened. U guys did amazing jobs. The refactor is totally fine. Will reopen this issue when someone else requires such feature again. Thanks!

[2019-01-21 08:46] kirti301290 opened #159 "How to fetch record same as where clause in sqlite"
Hello
i am using AWSAppSync and multiple user will use this app  but  facing one problem how to fetch all record  particular user wise  like where condition in Sqlite query .i know there is filter functionality  but there is no any sample code  how to use this in Swift language.
thanks

[2019-01-21 15:51] palpatim commented on #37
@michaeleconomy

No, that was the point of my long-winded reply above. Basically, the ability to completely disable caching & offline isn't something we're likely to support for AppSync. You can disable persistence by specifying `nil` as the `databaseURL` during configuration.

[2019-01-21 15:56] palpatim commented on #159
Hi @kirti301290,

I'm not sure I follow your question. Are you asking how you can retrieve the results of a bulk GraphQL operation like a `list`? If so, you can do that by making the initial service query using the `appSyncClient.query()` method with default caching values. Subsequent to that, you can issue a `query` call using the `.returnCacheDataDontFetch` cache policy, which would only return

[2019-01-21 16:05] palpatim commented on #8
Sending this to @nikhil-dabhade to see if this is something we should add to the tutorial docs.

[2019-01-21 16:07] palpatim commented on #101
This seems related to #92, at least based on the "missing value" message.

[2019-01-21 16:11] palpatim commented on #116
Dupe of #116. Closing so we can track the feature request on that issue.

[2019-01-21 16:11] #116 closed

[2019-01-21 19:33] palpatim commented on #153
@nikhil-dabhade this might be a good add for our "concepts" documentation?

[2019-01-21 19:51] palpatim commented on #154
@nikhil-dabhade

Any recommendations from your perspective on how a developer could accomplish this use case?

[2019-01-21 20:45] palpatim commented on #76
I've withdrawn #158 since it would break transitive dependencies. Because they need to be kept in sync, I'm also not adding the comment that the Podfile is the source of truth--it's up to us to keep them in sync.

Since we fixed the base issue on PR #151, released with 2.9.1, and  have no further enhancements to clarify the Cartfile intent, I'm resolving this issue.

[2019-01-21 20:45] #76 closed

[2019-01-21 21:06] undefobj commented on #154
I would recommend that you do this through the GraphQL transform: https://aws-amplify.github.io/docs/cli/graphql?sdk=ios
Rather than treating Cognito as a database (it is not) I would store the creator of the post's information as a field in the object which is persisted into DynamoDB when using `@model`. This could either be via an input field or you could do it in the background automatically in

[2019-01-22 02:09] btn52396 commented on #8
It would be greatly helpful as I'm not sure what the proper way to do this and need to have this feature before I launch

[2019-01-22 18:02] nourahassan commented on #122
Any updates here?

[2019-01-22 18:18] zigfreid5 commented on #157
These code examples for different situations are exactly what should be in the documentation. There are so many things with AWS that are so poorly documented that the best resources are random blogs and articles. Adding more code samples and example projects with varied setups would greatly improve the developer onboarding experience.

[2019-01-22 19:53] adamup928 opened #160 "Crash when returning from background - SIGTRAP(TRAP_BRKPT)"
**Describe the bug**
When returning from the background, we experience intermittent crashes related to the AppSync SDK.

**To Reproduce**
Steps to reproduce the behavior:
1.  Initialize an AppSync instance.
2.  Minimize the app (while not connected to a debugger).
3.  When the app returns to an active state, occasionally it will crash with the AWS AppSync module referenced in the stack trace.

**E

[2019-01-22 21:02] palpatim commented on #122
Hi @nourahassan,

Sorry for the delay. I'm continuing to look at this and will update as soon as I have more info.

[2019-01-22 21:04] palpatim commented on #157
Thanks for the feedback @zigfreid5.

Tagging @nikhil-dabhade for visibility.

[2019-01-22 21:06] palpatim commented on #160
Thanks for reporting this issue @adamup928. I'm working on cleaning up the persistence layer for the mutation queue (which @larryonoff is also working on), including better SQLite connection discipline. I'll make sure to include this issue in the list of things I'm considering.

[2019-01-22 21:08] adamup928 commented on #160
Thanks, @palpatim, I appreciate the update.

[2019-01-24 15:22] larryonoff opened #161 "Is there any way to customise HTTP headers?"
**Is your feature request related to a problem? Please describe.**

Our team needs to send application specific information to the server like application name and its version. This's usually done by specifying **User-Agent** HTTP header, e.g. "RocketBody/2.0".

So is it possible? Is there any other ways doing it?

[2019-01-25 01:29] btn52396 opened #162 "Mutations with large inputs causes high CPU usage and the UI to freeze"
**Describe the bug**
I have a use case where I need to send a mutation every other second in the background. This works fine on the simulator but when I run the code on a physical device, the UI freezes for a split second when a mutation is being sent. This causes a frustrating user experience

**To Reproduce**
Steps to reproduce the behavior:
1. Create a loop that runs a mutation every 2 seconds(

[2019-01-25 01:38] #79 closed

[2019-01-25 01:38] #133 closed

[2019-01-25 18:18] palpatim commented on #161
Hi @larryonoff,

There is currently no way to customize headers like that. User agent in particular we wouldn't want to customize because we rely on it on the server side. However, we could explore the ability to add custom headers to a request as a feature request--it's a fairly common use case (and some of our other SDKs like Lex actually do support custom headers).

For now, the only workaround

[2019-01-25 19:02] palpatim commented on #162
Hi @btn52396,

Thanks for reporting the issue, and please feel free to reopen if you're able to reliably reproduce. I will note that in 2.9.2, we fixed a bug that was dispatching all subscription callback messages on the main queue instead of using the supplied handler queue. That may have impacted your main thread performance, depending on the code path you were using.

On a similar note, many Ap

[2019-01-25 19:06] larryonoff commented on #161
In this case there should be way on adding custom payload into each mutation / query / subscription without adding it into *.graphql spec

[2019-01-26 00:39] palpatim commented on #161
@rohandubal reminded me that we actually allow you to specify your own `URLSessionConfiguration` when initializing the `AWSAppSyncClientConfiguration `. (Unfortunately our API docs aren't published just now, but see [this constructor](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/master/AWSAppSyncClient/AWSAppSyncClientConfiguration.swift#L127) and others in `AWSAppSyncClientConfigura

[2019-01-27 15:54] calebheinzman commented on #157
@palpatim I am having the same error but I am having trouble following the documentation.

This is my view controller:

`//
//  ViewController.swift
//  AWS11
//
//  Created by Caleb Heinzman on 1/26/19.
//  Copyright © 2019 Caleb Heinzman. All rights reserved.
//

import AWSAppSync
import AWSMobileClient

class ViewController: UIViewController{
    //Reference AppSync client
    var appSyncClient

[2019-01-27 23:00] samproc opened #163 "Cannot assign value of type 'EnumeratedSequence<[Key]>.Iterator' to type 'EnumeratedSequence<IndexingIterator<Array<Key>>>.Iterator'"
Previously build was working fine
Installed Xcode 10.2, build fails with error message:
Cannot assign value of type 'EnumeratedSequence<[Key]>.Iterator' to type 'EnumeratedSequence<IndexingIterator<Array<Key>>>.Iterator'

Source file: Collections.swift, line 65

Build is breaking on latest Xcode beta

[2019-01-27 23:38] calebheinzman opened #164 "App Sync Blog Mutation"
I am trying to mutate using the Blog Schema that Amplify offers. However, I cannot find any guides for the actual swift code, so I am attempting to modify the code for the basic schema.

Here is the mutation function I am using:

![screen shot 2019-01-27 at 5 39 39 pm](https://user-images.githubusercontent.com/26177250/51808522-8d07a400-225a-11e9-8303-a12a678ede39.png)

This code runs without givi

[2019-01-28 00:12] #36 closed

[2019-01-28 08:35] btn52396 commented on #162
I've been testing this for the past few days now and found that it's easier to reproduce this bug when authenticating with Cognito. Can you see if you can reproduce it by logging in with Cognito and then send mutations with a large payload(>1000 characters each) in quick succession? For example, try running 1000 mutations in succession and see if the CPU spikes, rendering the UI laggy. I also find

[2019-01-28 09:09] btn52396 commented on #164
Make sure that you are authenticated via API key, IAM, or Cognito before sending a mutation.
You can find an example that uses an API key here https://github.com/aws-samples/aws-mobile-appsync-events-starter-ios

[2019-01-28 15:14] palpatim commented on #163
@samproc

Are you running the beta in Swift 5 mode? If so, we haven't yet tested for Swift 5 compatibility, and I'll convert this issue to a feature request to support Swift 5.

[2019-01-28 15:25] palpatim commented on #164
In addition to @btn52396's note, if you're still facing issues, try performing a mutation from the AppSync console to ensure it works as expected there. If you're still facing issues, try enabling resolver logging to see how your data is being interpreted by the function resolvers: https://docs.aws.amazon.com/appsync/latest/devguide/test-debug-resolvers.html

[2019-01-28 16:31] palpatim commented on #163
After investigating this locally, I see it's an issue in Swift 4.2 mode, thrown in our local import of Apollo. I'm labeling this as a bug.

[2019-01-28 16:47] samproc commented on #163
Thanks, if you need any testing or otherwise, please let me know. Keen to help out.

[2019-01-28 21:12] mrbarnaby opened #165 "Cache doesn't seem to work when performing a query which maps to dynamoDB secondary index (i.e. not doing a query based on "id")"
In my iOS project I'm using AppSync and DynamoDB.

The AppSync cache is working fine for me on 4 out of the 5 queries I'm using.  However it isn't working on the 5th query and I'm not sure why.  I can't figure it out.

The main difference with the 5th query is that the first 4 queries are standard "List with Filter (aka DynamoDB scan)" or "Get with Id (aka Dynamo query by id)", however with the 5t

[2019-01-28 23:47] #153 closed

[2019-01-28 23:47] #89 closed

[2019-01-28 23:47] #124 closed

[2019-01-29 03:21] artekr commented on #110
Hey @palpatim , I have exactly the same issue as @hithakshi . My query has multiple parameters, and it failed to fetch the cached object using offline mode with `CachePolicy.returnCacheDataDontFetch`.
Any updates on this issue?
Thanks

[2019-01-29 15:53] palpatim commented on #163
Thanks @samproc. I've filed [an issue with Apollo](https://github.com/apollographql/apollo-ios/issues/444), since we want to maintain our fork's compatibility insofar as we're able to, and am preparing a PR.

[2019-01-29 15:59] palpatim commented on #110
@artekr This is still on my queue to investigate, but I don't have any further insights just now.

[2019-01-29 20:56] rohit3d2003 opened #166 "Support for multiple subscriptions topics"
**State your question**
I have a two tables 'Event' and 'Invitee' and I am subscribing to 'OnCreate' mutation for both these tables. I have a common method in which I call the subscription for these two individual methods but only last subscription works while the other one never trigger. I tried changing the order and same result (last one works). Questions:

1. Are multiple subscriptions support

[2019-01-29 21:50] mrbarnaby commented on #165
I think I've discovered the issue.  For this particular object type I'm using an email address as the AppSync ID, and so this is then used as the cache key by apollo.  However it looks like the apollo cache doesn't like the cache key to contain to contain "@" or ".".  I'll dig into this more tomorrow.

[2019-01-29 23:33] palpatim commented on #166
Hi @rohit3d2003,

We definitely support multiple subscriptions--you can see an example in our [SubscriptionStressTestHelper](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/master/AWSAppSyncIntegrationTests/Helpers/SubscriptionStressTestHelper.swift#L95) where we have 40 active subscriptions, each monitoring upvotes for a different post.

The root of the problem is that you're discardin

[2019-01-29 23:39] palpatim commented on #165
Thanks for the update @mrbarnaby.

Are you basing this on an inspection of the Apollo code, or on your observations of behavior?

[2019-01-30 00:16] rohit3d2003 commented on #166
@palpatim - Thanks for helping me out! So basically, I need to maintain a reference to each type of subscription. So in the above scenario, I need to have a class level object (one for OnCreateInvitee & second for OnCreateEvent) or is there a generic Watcher that I can create at class level to hold the reference.

Also, it seems like the default generated subscription does not allow any parameters

[2019-01-30 01:17] palpatim commented on #166
Actually, a reference to each individual subscription. For example, a "type of subscription" might be "a post has been upvoted". An individual subscription might be "post 123 has been upvoted."

I'd probably recommend an instance, rather than a class, level variable, since those are going to be destroyed when your containing object is destroyed, as opposed to a class variable that you'll have to m

[2019-01-30 16:34] #163 closed

[2019-01-30 19:04] artekr commented on #165
@mrbarnaby @palpatim I have encountered the same issue where the cache key contains a ".".

For example
`appSyncClient?.fetch(query: GetOrderQuery(orderId: 123, shippingTotal: 10.5), cachePolicy: cachePolicy)`
This query will never be stored in 'QUERY_ROOT' as the reference, since shippingTotal a float type and has a ".", there was a git issue opened before about this: #57

I tested another scenar

[2019-01-30 21:54] palpatim commented on #33
I have a test that replicates this and am working on a fix for an upcoming release.

[2019-01-31 15:02] palpatim commented on #165
@mrbarnaby

Thanks for the comments and explanation of your use case. I'll take a look.

[2019-01-31 19:31] palpatim commented on #160
@adamup928

**tl;dr:** I can't repro, but have a hypothesis.

**Discussion**

Unfortunately I'm not able to repro this in any of my tests or test environments, but we can make some progress just looking at the stack trace & the code.

It looks like the crash is happening during the delta sync upon resuming from background. The delta query  response handler, attempts to call `publish` on the Apollo

[2019-02-01 00:31] NathanaelA commented on #91
@muellerfr  @rohandubal - I seem to be seeing this same issue again as dreamBegin was.  According to the Podfile manifest is using AWSCore 2.7.4

[code]

If I'm online everything seems to work.   If I start the app up offline; I see console logs about http failures with code -1009; but the callback response/error function never gets called at all.

[code]

The only difference I see is I'm getting

[2019-02-01 05:16] NathanaelA opened #170 "JsonValue throwing FatalError(Dictionary is only JSONEncodable if Value is (and if Key is String))"
**Describe the bug**
Doing a simple fetch of a single record that doesn't exist crashes your app with a fatalError.
`Dictionary is only JSONEncodable if Value is (and if Key is String))`

**To Reproduce**
Using the sample TODO project code (but I suspect any single record query fails).
[code]

The error = nil, and result.errors is nil
If we look at the values in the JSONObject at the crash point;

[2019-02-01 08:16] larryonoff commented on #160
@palpatim our team also have deadlock quite often. As far as I've investigated it occurs when offline mutations are being loaded from cache and someone performs mutation so deadlock happens on SQLite.swift

[2019-02-01 14:22] palpatim commented on #91
@NathanaelA

It sounds like you may be operating on a slightly older version of the SDK. Can you verify that you still have the problem if you upgrade to the latest version of AppSync and all of its dependencies? If you're still having a problem, please open a new issue, so we can avoid conversations on an old thread.

[2019-02-01 15:10] NathanaelA commented on #91
@palpatim - Tim, isn't AWSCore 2.7.4 the latest?

[2019-02-01 15:23] guiracine commented on #91
2.8.4 https://github.com/aws-amplify/aws-sdk-ios/releases

[2019-02-01 15:23] adamup928 commented on #160
@palpatim - Thanks for the detailed update.  Your solution to split the database makes sense.  If I can reproduce the issue consistently, I'll post a sample project.

[2019-02-01 15:41] palpatim commented on #91
@NathanaelA

As @guiracine points out, the latest core is 2.8.4. However, I don't recommend updating minor versions of the dependencies independently of updating AppSync itself. The latest AppSync release (2.9.2) relies on the 2.8.x versions of AWSCore and other dependencies.

[2019-02-01 15:43] palpatim commented on #160
@larryonoff Thanks for calling out the deadlock. Part of my work to split the databases will be to audit our mutation queue's database writes to ensure we're serializing them appropriately.

@adamup928 A sample project would be great if you're able to get a consistent repro, thanks!

[2019-02-01 15:58] larryonoff commented on #160
@palpatim I investigated a bit the issue. SQLite.swift works in serial manner. So I thought about putting all its work in async DispatchQueue, but not sure that this's correct.

[2019-02-01 16:35] NathanaelA commented on #91
@palpatim - Youch, your are right, I am quite out of date -- I somehow pinned the AppSync to a 2.6 version that I for some reason I thought was the latest version.
Sorry about that, I feel really stupid right now.   false report; 2.9.2 and the core 2.8.4 DID call back properly with an error!  So I am good now.  Thanks!

[2019-02-01 16:45] NathanaelA commented on #170
@palpatim - I believe this was an issue that must have been fixed already.   The new 2.9.2 version that  I'm now on seems to have fixed this one also.   Sorry about the waste of time.  :-(

[2019-02-01 16:45] #170 closed

[2019-02-02 12:03] #162 closed

[2019-02-02 18:12] #154 closed

[2019-02-02 18:12] #37 closed

[2019-02-04 15:42] palpatim commented on #166
@rohit3d2003

The appropriateness of a static provider will depend on your use case--if your app users can log in and out, it might be better to have an AppSync client, and associated watchers, as instance rather than class variables, so they can be tied your user's login state.

But if you are truly only using the static handles, then manually releasing them is not necessary. Do note that they wi

[2019-02-04 15:56] palpatim commented on #110
@hithakshi and @artekr -- Can you both confirm that you're not using the dot character (`"."`) in your key values? Other customers are reporting (#165) that cache keys don't work using dots, and I just want to make sure that isn't part of the problems you're reporting.

[2019-02-04 15:57] palpatim commented on #165
Based on my read of the code, the `.` character is used as a cache key path separator in both Apollo and AppSync code. I haven't traced your use cases specifically, but it seems reasonable that the dot character could be causing the behavior you describe.

Unfortunately, the only workaround for now seems to be "don't use a dot in your key"--that might mean normalizing your object keys by replacing

[2019-02-04 16:15] hithakshi commented on #110
Hi Tim, I am using user's email id as userId (one of the primary key) in
our project which contains dot and @ operators. (UserId, projectId) are the
primary keys. The issue other user raised with dot operators seems similar
to mine.
On 04-Feb-2019 9:26 pm, "Tim Schmelter" <notifications@github.com> wrote:

[2019-02-04 22:09] codeslubber commented on #122
Wow this is depressing.. I cannot believe:
- this doesn't work
- it's taking this long to get this to work
The whole point of this framework goes right out the window when broken windows like this are left uh, broken.

[2019-02-04 23:36] palpatim commented on #122
Sorry for the continued delay on this--we're working on some crashes on this and other iOS SDKs, but it is next on the list to be worked on.

[2019-02-05 22:13] palpatim commented on #160
@adamup928

Thanks for the extra symbolication. This does point to a different area of the code--I had assumed this was hitting the error attempting to force-unwrap in the FailableIterator, but this points to the force-unwrap of the Statement's `handle` in `Cursor.init(_:)`.

I'll dig into this a bit to see if this changes my thinking about whether separating the DBs will help.

[2019-02-05 23:51] palpatim commented on #160
I think this ends up being basically the same path--the force unwrap in question is the one attempting to get the statement handle (rather than force-`try`ing the iterator as I mentioned above). I'm somewhat concerned that the error isn't being thrown from `prepare` itself, but rather from the iterator. That implies that the statement handle is being cleared between the time the `prepare` returns

[2019-02-05 23:54] adamup928 commented on #160
Thanks for your investigation and fast response, @palpatim.

To answer your questions:

- No, the appSyncClient is retained and is not being released or cleared
- No, we don't maintain any handles to the database separately
- No, we don't attempt to cleanup the filesystem or database file
- Our app sync result count is in the single digits.

Hope this helps!

[2019-02-06 11:22] im3der commented on #157
@helloniklas thanks for opening this issue and @palpatim thank you for your help

[2019-02-06 15:33] palpatim commented on #160
@adamup928

Thanks for the clarifications. At this point, I think separating the DB files is our best bet since the stack traces aren't displaying anything that looks like a deadlock or invalid SQLite access pattern.

[2019-02-06 15:37] palpatim commented on #8
Recategorizing this as a documentation feature request for @nikhil-dabhade.

[2019-02-06 17:10] palpatim commented on #157
Adding "feature request" label for @nikhil-dabhade visibility

[2019-02-06 22:28] palpatim commented on #160
PR #171 is merged to master and should go out with the next release (which I'm working on getting done by end of week)

[2019-02-07 00:40] adamup928 commented on #160
Thanks, @palpatim.  That's a lot of work, and it's greatly appreciated!

[2019-02-07 09:04] aslam-unikove opened #172 "AWS AppSync: how to sync data on a regular interval e.g. every 30 minutes"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-07 15:11] palpatim commented on #172
@aslam-unikove

As with your request in the other repo, this doesn't really have much context. Can you describe your use case a bit more clearly? For example, you could use a timer to fire a query at your desired interval, or you could use the DeltaSync functionality to keep a live subscription and do partial queries on app restarts. Please see [our documentation](https://aws-amplify.github.io/doc

[2019-02-08 18:29] palpatim commented on #162
@btn52396

Thanks for the update. Did you close this issue because you identified a root cause unrelated to the SDK, or because you don't have solid repro on this? If the latter, I'd like to reopen this as a bug so we can track the issue and try to come up with test cases that might repro this locally. I can't say exactly when we'd be able to get to it, but I don't want it to fall off our radar.

[2019-02-08 21:27] btn52396 commented on #162
@palpatim  Ah yeah I forgot. I was going to open a new issue because after a lot of investigation my description of the bug wasn't accurate. I don't think it has much to do with payload size. It has more to do with sending mutations in succession. I'll create a new issue describing the problem, my temporary solution to it, and exactly where in the SDK for you guys to look at

[2019-02-08 21:40] btn52396 opened #173 "AWSPerformMutationOperation causes high CPU usage and freezes UI"
**Describe the bug**
AWSPerformMutationOperation uses an unnecessary amount of CPU, causing the UI to freeze and sometimes crashes the program if too many mutations are performed in succession.

**To Reproduce**
Steps to reproduce the behavior:
1. Perform many mutations in rapid succession. I.e send 1000 mutations back to back.
2. Look at CPU usage. You will find that the CPU will gradually grow h

[2019-02-08 21:45] palpatim commented on #173
@btn52396

Thanks so much for diving into this! I've got a bit more work to get the Mutation Queue where I want it, and this will definitely help target my efforts.

[2019-02-08 23:12] palpatim commented on #33
This is released in 2.10.0

[2019-02-08 23:13] palpatim commented on #160
This is released in 2.10.0. Please let us know if you see any issues, otherwise, we'll let this issue close out automatically.

[2019-02-08 23:15] #80 closed

[2019-02-08 23:17] palpatim commented on #80
This should now be fixed in the sample app that we released alongside AppSync version 2.10.0.

[2019-02-11 05:36] btn52396 commented on #173
@palpatim
Glad to help :) let me know if you need help reproducing and I'll send some code over

[2019-02-11 17:48] palpatim commented on #122
Hi @nourahassan,

I've been unable to replicate this either in local testing or in integration tests that I added as part of #174. I will note that the setup is non-intuitive, since it involves going to the JS area of the documentation, but once I set up the buckets, policies, and local clients, S3 uploads work using both parameterized and input-ized mutations.

Can you provide any more details ar

[2019-02-11 21:17] palpatim commented on #146
Hi @returnzer0,

Based on my understanding, this should be solved by this [CLI issue](https://github.com/aws-amplify/amplify-cli/issues/745), which had a [PR](https://github.com/aws-amplify/amplify-cli/pull/820) merged last week.

Can you update your local amplify CLI and see if regenerating your API code with the `max-depth` option fixes your issue?

[2019-02-12 01:08] palpatim commented on #92
I'm concerned about changing the Apollo code for a couple of reasons:

1. Changing it at or near the low-level `readObject` call doesn't give us insight into the structure that is being read. That means we don't have a good way to return an empty result for whatever query is being requested.
1. Changing it at the `execute` level or above could hide real problems below, and makes me worry about uni

[2019-02-12 02:46] freshtechs commented on #92
Ok thanks! How can I use that branch on my existing Xcode project?

[2019-02-12 06:24] #164 closed

[2019-02-12 16:27] palpatim opened #175 "Audit mutation queue threading/operation model"
In the conversation in #160, @larryonoff mentioned that their team experienced deadlocks in the mutation queue. Although I haven't experienced these personally in local testing or integration tests, it's possible that our implementation of Operation Queues to synchronize the delta sync startup and mutation queue activity could be causing deadlocks.

Tasks for this issue:
* Audit threading model/op

[2019-02-12 16:31] palpatim commented on #92
@freshtechs I haven't merged it yet because I'm still testing (and haven't actually confirmed that this fixes the issue properly). Once I'm able to verify behavior, I'll merge to master in preparation for the next release (which would probably be a few days after I merge).

Alternately, you can build AppSync into your project from the master branch. Since you're using CocoaPods, you'd have to down

[2019-02-12 17:28] larryonoff commented on #175
@palpatim I don't think that deadlocks are since subscriptions, because we disabled all subscriptions. We experienced deadlocks when mutations are in process of restoring from cache after offline / re-opening app and new mutation happens at the same time. I caught this several times during debugging and saw that deadlock happened in SQLite.swift since it's performs everything sync.

[2019-02-12 22:01] palpatim commented on #122
Hi @nourahassan

As discussed separately, we were able to confirm that S3 uploads are working for you as expected. I'm going to close this issue, but if you find any other issues with the AppSync SDK, feel free to open a new one.

Separately, given the problems we had getting your Carthage-based project set up for debugging the AppSync client, we will take on a task to improve our documentation ar

[2019-02-12 22:01] #122 closed

[2019-02-12 22:03] palpatim opened #176 "Improve developer documentation on debugging in Carthage based project"
As noted in #122, setting up AppSync debugging in a Carthage-based project is challenging. We need to provide some developer documentation around that workflow to make it easier for developers to debug AppSync if they suspect a problem with the SDK.

[2019-02-12 22:07] palpatim commented on #175
@larryonoff

Thanks for clarifying. I'll focus on the two areas separately. I will say that getting a deadlock in the actual SQLite module would surprise me, since SQLite.Swift opens its connections in serial mode, which should handle situations where it's unable to obtain an exclusive lock by throwing an `SQL_BUSY` error, which translates into a thrown Swift error in AppSync. However, it's possib

[2019-02-12 23:02] palpatim commented on #92
This is now merged into master and pending the next release. We're planning on doing that later this week.

[2019-02-12 23:05] palpatim commented on #101
@huforrest

I'm writing a test to verify this behavior, which _might_ be fixed in #177. Can you confirm for me that the cache is empty at the time you're updating the subscription value? That is, you haven't yet processed the results of a `GetConversationMessagesQuery` from the server at the time you are updating the results of your subscription?

[2019-02-13 15:15] larryonoff commented on #175
@palpatim this surprises me also. It may be since SQLite accessed from its underlying queue. E.g. SQLite notifies someone via callback and someone tries to access SQLite in the same queue.

[2019-02-13 15:36] #166 closed

[2019-02-13 18:09] palpatim commented on #101
@huforrest

I've pushed a test to verify that the behavior I described above is handled by #177. If the behavior you're reporting in your original issue is different, please feel free to reopen this, but if not, I'll plan on closing this issue once we release 2.10.1 (which we're planning for later this week).

[2019-02-13 18:25] palpatim opened #180 "Setting property to nil via generated Swift api is ignored"
**[Originally filed by @peterfennema on https://github.com/aws-amplify/amplify-cli/issues/840].**

**Describe the bug**
I use Amplify iOS with GraphQL Transform and Codegen to generate a Swift api for AppSync.
In the generated code I set a property to nil. After applying a mutation nothing happens, the previous value is not erased in DynamoDB.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2019-02-13 23:32] palpatim opened #181 "Regression in behavior of queries against empty cache"
**Describe the bug**

PR #177, which is intended to fix #92 and #101, regresses the behavior of queries against an empty cache.

**To Reproduce**
Steps to reproduce the behavior:

* Duplicate the existing test `FetchQueryTests.testReturnCacheDataAndFetch` to a test named `testReturnCacheDataAndFetchWithMissingData`
* Modify all `FetchQueryTests` `test*WithMissingData` to set the initialData to:
[c

[2019-02-13 23:32] palpatim commented on #92
The fix for this impacts the behavior of the `.returnCacheDataElseFetch` and `.returnCacheDataDontFetch` cache policies on queries against empty caches. I'm working on a fix now, tracking on #181

[2019-02-14 15:39] palpatim commented on #176
Initial notes from @nourahassan:

[2019-02-14 15:52] #172 closed

[2019-02-14 16:45] palpatim commented on #90
I was able to make some headway on this during investigations into updating the cache on optimistic updates. PR #182 should fix this, assuming that the approach works as I expect. (I'm investigating whether it is in fact the right approach; I need to validate the assumptions I'm making testing for "empty result values" in that PR.)

[2019-02-14 19:09] shannon-hager-skookum opened #183 "Is AWSMobileClient the preferred way to integration AppSync and Cognito User Pools?"
AppSync early adopters had implemented the Cognito User Pool + AppSync functionality based on documentation collected from several sources (questions here, Cognito docs, etc) and were never really given the example implementation promised last March. The documentation has now been moved to Amplify and the docs appear to recommend using AWSMobileClient in addition to Cognito and AppSync in order to

[2019-02-14 19:40] returnzer0 commented on #146
Hi @palpatim, thanks for your response.

How do I specify the `max-depth` option?

[2019-02-14 19:45] adamup928 opened #184 "MQTT Client Subscription Closure Crash"
**Describe the bug**
When returning from the background, the AppSync SDK occasionally causes a crash inside `AppSyncMQTTClientstopSubscriptionclosure`

**Environment(please complete the following information):**
 - AppSync SDK Version: 2.10.0
 - Dependency Manager: Cocoapods
 - Swift Version : 4.2

**Device Information (please complete the following information):**
 - Device: iPhone XS
 - iOS Vers

[2019-02-14 22:22] palpatim commented on #146
@returnzer0

It looks like they just merged that in, actually--sorry for the premature notice.

You can update the CLI (`npm install -g @aws-amplify/cli`) to get the latest version, and specify during codegen as noted in [the docs](https://aws-amplify.github.io/docs/cli/codegen#statement-depth).

Alternately, you can specify a configuration value via `amplify codegen configure` to set the default

[2019-02-14 23:31] freshtechs commented on #181
Hey @palpatim

One of our app models is intended to be used offline-only and because of that, we use the .returnCacheDataDontFetch cache-policy combined with optimistic updates for requests and queries.

Can we assert that once this issue gets fixed that could be possible?

[2019-02-14 23:34] palpatim commented on #183
I'm assigning this to @undefobj to see if he can give an authoritative recommendation, as he is driving much of the work around the auth enhancements and might be able to provide a broader perspective, since he's also driving the RFC for the Admin enhancements and flows and has worked on auth across all platforms.

To underscore your point about AWSMobileClient, though: if you haven't already seen

[2019-02-14 23:45] palpatim commented on #184
@adamup928 Thanks for the report. We'll add it to the queue and investigate. In the meantime, some questions about your setup:

* Is your app using subscriptions set up with `appSyncClient.subscribe`, or are you using `appSyncClient.subscribeWithSync` (e.g., DeltaSync)?
* Are you doing any management of the AppSync client/subscription state vis-a-vis lifecycle notifications like `applicationWillEn

[2019-02-15 14:51] palpatim commented on #181
@freshtechs

I don't have specific tests around that use case, but yes, that should work as expected. Do note that optimistic updates against an empty cache will still require you to populate a list structure to begin with, as in this example from `MutationOptimisticUpdateTests`:

[code]

[2019-02-15 14:52] #160 closed

[2019-02-15 16:12] palpatim commented on #184
I'm able to intermittently replicate this in the integration tests during subscription stress testing. In my case, I'm seeing it as I tear down the test, but that would replicate the disconnect/reconnect pattern that we do during resuming foreground or network connection. Will continue to investigate.

Partial backtrace

[code]

[2019-02-15 16:24] adamup928 commented on #184
Thanks, @palpatim - good news on the replication.

To answer your questions:
1. We use `appSyncClient.subscribe` without DeltaSync.
2. Yes, we sometimes perform a pre-emptive refresh of our developer-federated token when returning from the background.  If the refresh occurs, we cancel/re-subscribe on one of our subscriptions since it occasionally fails silently after a return to the active state.

[2019-02-15 18:15] palpatim commented on #92
This fix is released in 2.10.1. Please let us know if you continue to see issues.

[2019-02-15 18:16] palpatim commented on #101
This fix is released in 2.10.1. Please let us know if you continue to see issues.

[2019-02-15 18:16] palpatim commented on #90
This fix is released in 2.10.1. Please let us know if you continue to see issues.

[2019-02-15 18:17] palpatim commented on #181
This fix is released in 2.10.1.

[2019-02-15 18:17] #181 closed

[2019-02-15 20:13] shannon-hager-skookum commented on #146
@returnzer0
You may want to try adding a file to the generated graphQL files with your custom query.
This is how we worked around this in order to avoid using a prerelease branch.
If you set up amplify codegen with the default options, you have a folder with the generated graphQL statements in files named `queries.graphql`, `mutations.graphql`, etc.
Create a new blank file in that folder and call

[2019-02-16 04:00] freshtechs commented on #92
The optimistic update it doesn't fail anymore to "missingValue" but I will automatically send it to the network.

And seems like is never saved to cache because when you fetch/query with .returnCacheDataDontFetch as cachePolicy it is returning an empty list/array.

Im using defaults cache/service config on the client:
`let cacheConfiguration = try AWSAppSyncCacheConfiguration()
let appSyncServiceC

[2019-02-16 11:57] amarincas commented on #110
@hithakshi I experienced the same issue when using email, because it contains the `"."` character which is also being used as separator to compose the cache key. When merging records, the cache key is being split into components and there's where the problem occurs.

[2019-02-16 13:08] amarincas commented on #165
@mrbarnaby @palpatim

Hi, I am experiencing the same issue with the `"."` separator. In the following example it will never fetch from cache, only from server.

[code]

The problem appears when AWSSQLiteNormalizedCache tries to merge records and fails to obtain the `recordCacheKey` from `fieldCacheKey`.

fieldCacheKey: `QUERY_ROOT.getProfile(email:johndoe@gmail.com)`
recordCacheKey: `QUERY_ROOT.ge

[2019-02-17 04:14] freshtechs commented on #92
Same results using the [docs](https://aws-amplify.github.io/docs/ios/api) (Todos) app :
[code]

[2019-02-17 21:42] undefobj commented on #183
In the near future, yes we will recommend using the `AWSMobileClient` as the way to handle authentication for all of the service interactions with iOS and Android, not just AppSync. The only reason it isn't the only answer at the moment is because there are still a few gaps that we will be closing as referenced in these two RFCs that @palpatim mentioned:

https://github.com/aws-amplify/aws-sdk-ios

[2019-02-18 15:29] palpatim commented on #92
I notice you're doing your fetch (in both the first example and the "Todos" app, immediately after invoking the `perform`. However, since mutations are asynchronous, there's an extremely good chance that the mutation will not have completed (or perhaps even begun) by the time the query starts. Can you try invoking your fetches after the mutation's optimistic update has completed?

Revised example

[2019-02-18 15:30] palpatim commented on #165
@amarincas

Thanks for diving into this. I'm looking at this and will update when I have more info.

[2019-02-18 15:45] palpatim commented on #176
Tagging this as "Help Wanted" & "Good First Issue" in case someone who uses Carthage as a primary environment wants to pick this up. :)

[2019-02-18 18:28] zigfreid5 opened #185 "AWSAppSyncClient eating requests with expired user pool token"
Similar to the behavior mentioned in #91, the callback for a fetch is never called if the user pool token has expired.

There might be a few different things in play here, but I am using the AWSMobileClient as the credentials provider for the AWSAppSync Client.

**To Reproduce**
1. If the user pools token has expired, the mobileClient will still have a userState of .signedIn on initialization. **<

[2019-02-18 18:28] zigfreid5 commented on #91
@palpatim I think this is still an issue, but for other reasons. I'm encountering the same behavior when the user pool token is expired. I've just opened another issue about it here: #185

[2019-02-19 00:26] freshtechs commented on #92
Tried with your suggestion, but still the result var of the closure of loadTodos() fetch is nil

[2019-02-19 00:37] freshtechs commented on #92
Also is weird that im seeing the todos items being push to the DynamoDB table successfully, without me adding the `resultHandler: { (result, error) in` optional-closure at the end of the `.perform` func

[2019-02-19 15:15] palpatim commented on #185
@zigfreid5

Thanks for the report. The fact that we don't get a callback in the `fetch` completion handler does seem like a bug, but I want to verify the expected behavior with my colleagues who are closer to the mobile client code. I'll also verify the expected behavior on initialization with an expired token.

I'll update this issue when I have more info.

[2019-02-19 18:15] palpatim commented on #185
@zigfreid5

It turns out that both of these are expected behaviors.

1. During initialization, the "signed in" state is determined solely by the *presence* of the token, as opposed to the *contents or validity* of the token. I'm going to open a feature request on the MobileClient to change that behavior, since it seems reasonable (at least from my perspective) that we'd want consistent behavior be

[2019-02-20 23:21] NathanaelA commented on #91
@palpatim - It appears this one is having another issue, I just moved to v2.10.1 to fix other offline issues and this now seems to have an issues again.

My Simple todo Code:
(`ids`, `name` and `desc` are all set before calling this function).
[code]
I dropped breakpoints into the code and they never get hit.   ;-(
The optimistic path is ran if online and offline.   and the Results path works when

[2019-02-20 23:44] palpatim commented on #110
#186 should resolve the issue with dots in cache keys

[2019-02-20 23:51] palpatim commented on #165
#186 should resolve the issue with using dots in cache keys

**Discussion**

This problem actually exists in the SQLite normalized cache implementation we forked from Apollo. The solution I've put in place caches incoming records by composing a list of "candidate record keys" based on the changed keys. If the candidate keys exist in the incoming changed records, the cache will be updated with the

[2019-02-21 00:03] palpatim commented on #91
@NathanaelA

At the risk of continuing too much conversation on a closed thread:

I wouldn't expect your result handler to be invoked while you're offline--that block only gets called when the mutation is processed by the server during the same app session where the mutation is queued. That is, if the app quits and restarts, that particular callback is lost, and the AppSync client's `offlineMutati

[2019-02-21 01:08] NathanaelA commented on #91
@palpatim - Tim,

I'll open other bugs if you prefer that.   I just thought this went with #91.  :grinning:

Maybe I'm misunderstanding -- Shouldn't the result handler be called with the error that it is offline?    When I send the `.perform` I have no idea if the app is online or offline.

- The optimistic block is called in both (online and offline) cases so that the local data is hopefully cach

[2019-02-21 15:12] palpatim commented on #92
Thanks for catching that!

The results you're seeing in the local cache may be the result of that update. To disambiguate that, you can make the ID of your optimistically updated `Item` easy to distinguish (as for example by using an ID of `let UUID = "TEMP-\(UUID().uuidString)"`. That lets you tell at a glance whether an item in your cache is local-only or server-generated.

Also note that the us

[2019-02-21 16:02] palpatim commented on #91
The current behavior is by design--the idea is that callers should not have to worry about offline vs. online states to perform a mutation. The AppSync client adds every mutation to a queue for serial processing (that ensures mutations are always sent to the server in order). The queue suspends operations when the network drops, and resumes when the network is restored. From a caller's perspective

[2019-02-21 17:42] palpatim commented on #173
@btn52396

I just realized I never responded to your offer! If you have some repro code, I'd love to have that as a basis for tests against this behavior.

[2019-02-21 22:35] palpatim commented on #173
I've made a change locally (that I'll push in a PR soon):

- `AWSAppSyncClient.perform(mutation:queue:optimisticUpdate:conflictResolutionBlock:resultHandler:)` now properly invokes its result handler callbacks on the supplied `queue` instead of always using `DispatchQueue.main`
- Added mutation queue performance tests to validate the perform -> persist -> response lifecycle.

My observation is tha

[2019-02-22 00:51] freshtechs commented on #92
@palpatim

Thanks for guiding me for the ids case, but actually the pattern I’m using would be generating the ids on the client side, so it won’t be necessary to create a temporary id for later replacement.

And about the fetch i think that I miss-explained myself. I’m seeing the results on the DynamoDB instance instead of the fetch-query-result with “only cache” policy passed to it. Anytime I fet

[2019-02-22 09:44] btn52396 commented on #173
Here you go https://github.com/btn52396/aws-mobile-appsync-events-starter-ios

It's a fork of the events sample app. Just put in your api info and run it. Press the add button on the top right to do the performance test.

Here's what you can expect to see: https://prnt.sc/mojz2c

Let me know if you need anything else. I can offer a PR of my temporary solution as well.

[2019-02-22 15:36] palpatim commented on #173
Thanks, I'll take a look!

[2019-02-22 19:02] #90 closed

[2019-02-22 19:02] #101 closed

[2019-02-25 16:15] LorienMan opened #187 "Cancelled mutations start on next app launch"
**Describe the bug**
When mutation is started it is being put to persisted store as AWSAppSyncMutationRecord. That record is not deleted from persistent store when I call `cancel()` on the result of `perform(mutation:..` method. On next app launch such mutations are being executed again.

**To Reproduce**
Steps to reproduce the behavior:
1. `let cancellable = client.perform(mutation: `
2. immediat

[2019-02-25 17:29] palpatim commented on #187
@LorienMan

Thanks for the bug report and the repro steps. We'll take a look at this and work on some tests and a fix for this.

[2019-02-25 17:32] palpatim commented on #146
@returnzer0

Did either the new CLI option or @shannon-hager-skookum's suggestion work for you?

[2019-02-25 17:53] palpatim commented on #92
@freshtechs

I'm stumped by the behavior you're seeing--we have some tests (some that I recently added, in fact) to verify that query cache policies work as expected. There are some known failures around cache keys with dots that are fixed in #186, which is currently under review and should go out in the next release. Are you able to pull that PR's branch locally and see if that fixes the query be

[2019-02-25 23:00] shannon-hager-skookum commented on #42
@palpatim I know this issue is closed but are you still planning to add the `SubscriptionWatcherStatus` enum?

[2019-02-25 23:17] bingosabi commented on #173
Thanks for the work on this!

I have also traced a ~5 second freeze in my App's UI to this same issue.  (AWSPerformMutationQueue using the .main queue, even though I specified a different handler queue.)   My app freeze only appears to happen on the first mutation call, so I suspect that the Sqlite serialQueue has some initialization work going on it which causes the call to save the mutation to l

[2019-02-26 00:18] palpatim commented on #173
We're reviewing the "respect main queue" change now: #188

I've run @btn52396's sample app, but so far I'm not seeing significant performance impacts or memory growth running on sim--certainly nothing like the graph above.

My next steps will be to build this onto a test device & try it there to try and localize the performance problems. I do see some memory growth, but nothing that I haven't been

[2019-02-26 07:05] returnzer0 commented on #146
Thank you both @palpatim and @shannon-hager-skookum, apologies for the late reply.

I didn't get around to tryig @shannon-hager-skookum's solution but the new `max-depth` option works perfectly.

I will close this issue now. Thanks again!

[2019-02-26 07:05] #146 closed

[2019-02-26 16:11] bingosabi commented on #173
I suppose my bug description is slightly different than @btn52396 's, even though I believe that @palpatim's PR will resolve it.   I would word it:   "*AWSPerformMutationOperation freezes UI if other queries are reading data from cache.*"  which is only half related to the issue @btn52396 is describing.   @btn52396's bug really describes 2 distinct issues: 1. Excessive CPU on multiple mutations, 2

[2019-02-26 18:07] palpatim commented on #173
@bingosabi

The main queue PR was just approved and merged. :) The performance issue is what I'm specifically referring to not being able to replicate.

Thanks for the description of your use case, that might help target the investigation as well. Of course, if you are able to repro in a sample app, that's always welcome too! but I'll be diving into this over the next couple of days.

[2019-02-26 18:28] palpatim commented on #42
@shannon-hager-skookum

Yes, I think it makes sense to reopen this, scoped to the simplified state I mentioned in the comment above. The biggest question in my mind is how we actually accomplish the "connected" state, since right now there's no really great hook from the underlying subscription connection that the service has begun fulfilling it. In testing, I'm working around this by inspecting t

[2019-02-26 19:24] achager commented on #42
@palpatim Would you be able to elaborate on what is considered the "connected" state in this scenario? Is it more than the web socket itself being open?

[2019-02-26 22:10] palpatim commented on #42
There is a delay between the time the socket is opened/connected to the server and the time the service begins delivering subscription updates to that socket. In our integration tests, we rely on either a hardcoded timeout or the aforementioned topic count to accommodate that.

[2019-02-27 01:49] bingosabi commented on #173
@palpatim

Thanks for that!

I'll try to get the sample app server side setup at some-point, as that's the main thing keeping me from providing a quick sample which shows the issue.    But just have a few projects with deadlines currently.

[2019-02-27 05:29] adamup928 commented on #184
Just got another interesting crash log.  It looks like the `AWSIoTMQTTClient` is responsible for spinning up >160 threads before the crash occurs.  They're all identical and result from `[AWSIoTMQTTClient initiateReconnectTimer]`.  Here's a sample:

[code]

And here is the crashing thread:

[code]

[2019-02-27 14:35] palpatim commented on #110
This is released on 2.10.2. Please let us know if you continue to experience problems.

[2019-02-27 14:35] palpatim commented on #165
This is released on 2.10.2. Please let us know if you continue to experience problems.

[2019-02-27 14:40] palpatim commented on #173
@bingosabi

The queue fix is released on 2.10.2. I'll update this thread when I have info on the performance investigation.

[2019-02-27 15:16] palpatim commented on #184
Thanks for the additional context. We intentionally create new threads to reconnect but the intent is to release the old thread afterwards--in your sample stack trace above, are there 160 *active* threads, or is it just that the thread label is "160", which suggests that the MQTTClient had done a lot of reconnections prior to the crash?

[2019-02-27 15:18] adamup928 commented on #184
Thanks for the update, @palpatim  -

There are 160 active threads.  I can scroll through them all in the full stack trace.

[2019-02-27 15:19] palpatim commented on #184
Well, that seems excessive. :( Thanks again for the new context. I'll update this thread when I have more info.

[2019-02-27 19:09] nourahassan opened #189 "Mutation is lost when network connection is bad"
I am using appsync in my iOS project and it can successfully save offline objects when network is on. But if I am having a case where I have dynamoDB object with s3 file, after saving the file successfully to s3, the network becomes bad and the dynamoDB is not saved even when a good connection is back.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a mutation with s3 file input
2.

[2019-02-28 15:14] palpatim commented on #189
Hi @nourahassan,

Thanks for the bug report. I'll investigate and update this thread once I have more info.

[2019-02-28 15:22] palpatim commented on #173
So far, I don't have any conclusive updates. I've determined that the performance and memory usage issues are definitely associated with use of the SQLite persistence cache--specifically during the `merge` phase where a successful mutation result is merged into the Apollo normalized cache.

One thing I noticed is that the `MUTATION_ROOT` cache record is enormous, since it stores the entire operati

[2019-03-01 01:04] freshtechs commented on #92
Im not using dots and not passing arguments to queries. The mutation it successfully gets its way to the dynamoDB instance but never to the local cache, for reference im using the events app/code used on the docs:

[code]

[2019-03-01 06:25] btn52396 commented on #173
So you were able to successfully reproduce the performance issue?

[2019-03-01 15:40] palpatim commented on #173
I do see high CPU usage, which I would expect to translate to bad UI performance if I were running on a real device (I don't notice any particular jankiness since I'm currently testing on SIM, which in my experience tends to have better UI performance). Still diving into the `merge` method.

[2019-03-01 20:04] adamup928 commented on #184
Here's one more log where the crash occurred at a slightly different place within `[AWSIoTMQTTClient initiateReconnectTimer:]`:

[code]

[2019-03-01 20:58] aaronkampmeier commented on #4
@rohandubal
How are we supposed to codegen with the --add-s3-wrapper using the new Amplify codegen? That documentation you linked to is now archived and says to use the Amplify CLI, but I cannot find anywhere within the Amplify docs how to generate code with the s3 wrapper. As such I am running into the original issue where setting the s3ObjectManager to AWSS3TransferUtility.default() fails becaus

[2019-03-02 21:00] Marquis103 opened #190 "AWSAppSync podspec points to a specific version of AWSCore"
Is it possible to update the AppSync podspec to point to AWSCore > 2.8.0?  If using other AWS resources (pods), we have to use version `'~> 2.8.0'`, while other resources are now pointing to `'~> 2.9.0'`.

[2019-03-04 00:43] freshtechs commented on #92
The only way the data its cached to store is when I change the cachePolicy to ```swift CachePolicy.returnCacheDataElseFetch```. So It only works if you first make a fetch query to the network and then the results of it are cached, finally you can continue to query the cache without problems.

The results of the mutation are never cached, no matter if it's optimistic or not. The only way data gets

[2019-03-04 15:02] palpatim commented on #190
@Marquis103

Thanks for catching that, and sorry for the error--I missed that on the last version bump. (The Podfile is right, but the Podspec is out of sync.)

[2019-03-04 17:01] palpatim commented on #42
Clarification on the proposed statuses:

[code]

[2019-03-04 18:50] achager commented on #42
@palpatim Those proposed status look good and should cover our use cases. Thanks!

[2019-03-04 18:57] achager opened #192 "Enhancement: Expose the mutation queue size"
We have a scenario where users could perform actions in our app that create mutations that may not be sent to the server due to a variety of scenarios (i.e. the device is offline, heavy network traffic so the client hasn't sent the mutation just yet, they perform an action and quickly close the app). It would be helpful to be able to indicate to the user that some actions have not yet be synced to

[2019-03-04 19:54] #185 closed

[2019-03-04 20:06] btn52396 commented on #92
I'm experiencing the same issue as @freshtechs. If the cache is empty, it cannot be written to unless first fetched from the server.

[2019-03-04 23:48] Marquis103 commented on #190
thanks guys!

[2019-03-04 23:54] #183 closed

[2019-03-05 01:05] palpatim commented on #92
@freshtechs

I'd like to clarify what we mean by "cache". The underlying cache implementation stores results of its operations under three different "roots": one for queries, one for mutations and one for subscriptions. If you're expecting the results of a mutation to update the cache for a query, you would have to manually update that in the mutation's result handler.

Can you confirm that the co

[2019-03-05 01:06] palpatim commented on #92
@btn52396

Can you confirm that you're still seeing that behavior using the latest version of AppSync? If so, a repro sample would be much appreciated so we can add the case to our tests.

[2019-03-05 12:41] freshtechs commented on #92
@palpatim

Ok from my point of view:

Assuming you are offline, if the first thing you do after opening your app is perform a mutation of X model (i.e. you add your first Todo item) and while still offline you wish to view or edit it.

Expected Behavior: Perform optimistic updates mutations (CreateTodoMutation) and query the local cache for TodoItems to show you a list of your recently added/edite

[2019-03-05 17:09] adamup928 commented on #184
Here's some more context showing where the crash occurs inside the `stopSubscription` closure:

[code]

[2019-03-05 21:57] palpatim opened #193 "AppSync subscriptions auto-reconnect while advising clients to reconnect"
if the AWSIoTMQTTClient receives a web socket disconnect that is not the result of a user disconnect request, it will notify its delegate of the error, but also attempt a reconnect on its own.

@cbommas advises that he fixed this problem on Android by suppressing the auto-reconnect behavior at the MQTT low level client layer, in favor of managing AppSync subscription reconnect logic at the AppSync

[2019-03-06 00:06] palpatim opened #194 "Additional logging in Subscription paths"
We need to add additional logging in the AppSync subscription paths, especially around connection & reconnection handling.

[2019-03-06 09:15] btn52396 commented on #92
@palpatim
Yes I'm using the latest version of AppSync. I always use the latest version before reporting a bug.
Here is a sample that reproduces the bug https://github.com/btn52396/aws-mobile-appsync-events-starter-ios

Before running the sample app, **make sure that you remove the events sample app from your iPhone simulator if there is a copy there to clear any previous cache**. Then just fill in

[2019-03-06 15:12] palpatim commented on #184
Hi @adamup928

I'm sorry for the continued troubles--unfortunately I haven't been able to narrow down the root cause. I am still investigating though and will update as soon as I have any fixes, workarounds, or insights.

[2019-03-06 15:13] adamup928 commented on #184
Thanks, @palpatim - it's greatly appreciated!

[2019-03-06 15:34] #165 closed

[2019-03-06 15:34] #110 closed

[2019-03-06 20:34] kvasukib opened #195 "Push notifications for any change in DB (CRUD) when app is closed"
@rohit3d2003 Transferring your question to AppSync repo.

**State your question**
I am building an iOS app using AWS Amplify with appsync. AppSync does provide a way to subscribe to changes in data and it works when the app is running. If the app is closed, how do we achieve the same result? I was looking into AWS Pinpoint but couldn't find a way to trigger a notification based on CRUD operation o

[2019-03-07 13:50] palpatim commented on #184
I've reworked the concurrency handling in `AppSyncMQTTClient` to protect against some data races I found. So far, I haven't been able to replicate the crashes, so I'm cautiously optimistic that I've fixed at least one of the issues. I'm continuing to test, and am also working on adding additional status tracking.

More info later today. :)

[2019-03-07 14:52] adamup928 commented on #184
Thanks for the update, @palpatim.  That's great news!

[2019-03-07 15:37] palpatim commented on #193
(D'oh! Forgot to update status)

[2019-03-07 15:38] palpatim commented on #42
Working on an implementation of this now.

[2019-03-07 17:39] palpatim commented on #42
This should be coming later today, but in the meantime, the API changes are as follows:

[code]

The statusChangeHandler will be invoked upon status changes to the watcher's underlying MQTT client. This is specifically useful for monitoring when the watcher moves to `.connected` status, as it indicates that the watcher client has received a SUBACK from the MQTT broker and is receiving subscription

[2019-03-08 04:34] palpatim commented on #184
@adamup928

I've reworked the AppSyncMQTTClient concurrency model in #196, which is under review by @cbommas. If you have the ability to build & test locally to see if it seems to work for you, we'd love to get your feedback! Otherwise, expect it to be available on the next release.

[2019-03-08 05:12] palpatim commented on #193
Pushed in #197.

This fixes the connection thrashing that can occur when the MQTT client
reconnects while AppSync is simultaneously advising clients to reconnect. The
preferred level at which to manage reconnections for AppSync is the AppSync
client itself, rather than the MQTTClient.

It's possible at some point in the future we may elect to expose an AppSync
client to support auto-reconnect, but

[2019-03-08 07:25] ronnychan-seek opened #199 "Nil field from server becoming non-nil with default values when retrieving from cache"
**Describe the bug**
A field with a nil sub field ends up with a non-nil sub field when retrieved from cache.

**To Reproduce**
Given the following schema:
[code]

When queried from the server with with a nil `subLocation` initially is correct but then on subsequent cached retrieval the nil `subLocation` turns into a non-nil `subLocation` with `id=-1` and `description=""`

**Expected behavior**
`s

[2019-03-08 07:59] ronnychan-seek commented on #199
disabling cache normalisation seems to make this go away:

[2019-03-08 15:12] adamup928 commented on #184
Great!  Thanks, @palpatim.  I will definitely build and test locally.  I personally don't experience the crashes, but will get this out to our Beta group quickly and let you know how things look.

Thanks again, @palpatim , for your help with this!

[2019-03-09 08:48] peterfennema commented on #4
@rohandubal In my opinion this issue should be reopened. The comment by @aaronkampmeier is correct. I am using Amplify CLI 1.1.7 with aws-mobile-appsync-sdk-ios 2.10.2

[2019-03-11 04:35] kvasukib commented on #199
@ronnychan-seek Thank you for reporting to us. Does this happen for every sub field that is nil in every field?

[2019-03-11 05:18] ronnychan-seek commented on #199
no worries @kvasukib, i haven't noticed it for other fields at this point but guessing that's because a lot of our other sub fields use `xyzId` instead if `id`

[2019-03-11 18:25] kvasukib commented on #192
@achager PR #198 addresses this issue.

[2019-03-12 03:28] rohandubal commented on #199
Hello @ronnychan-seek

I tried to reproduce this issue on my side (with cache normalization enabled) but was unable to. Could you please provide me with some reproduction steps so that I can debug and identify the root cause?

Thanks,
Rohan

[2019-03-12 05:57] ronnychan-seek commented on #199
Hi @rohandubal thanks for investigating. did you use the `AWSSQLiteNormalizedCache`? That's what use and if you didn't then maybe that could be the difference.

In terms of repro'ing, in the backend, just return a `Location` with `SubLocation` set to null. The query watcher will initially see the correct `Location` with nil `SubLocation` but if the watcher fires again for whatever reason, it retur

[2019-03-12 06:01] rohandubal commented on #199
Thanks for the details @ronnychan-seek

Yes, I am using the `AWSSQLiteNormalizedCache`. When you say the watcher fires again, is it due to a local change? What else could be the reason for the watcher to fire up?

Also you can see the `source` of the data when the completion handler is called. It will mention whether the data is from cache or the server. It is available in the result's `source` pr

[2019-03-12 06:05] ronnychan-seek commented on #199
hi @rohandubal just checking, but you've definitely enabled cache normalisation with `id` as they key?

[2019-03-12 06:07] rohandubal commented on #199
Yes, I did that. Used "id" as the key. Maybe my nesting wasn't as deep, ill add one more layer of nesting to be sure.

[2019-03-12 06:28] ronnychan-seek commented on #199
Hi @rohandubal I think I was mistaken, mutations are involved somehow, it doesn't seem to repro without a mutation occurring first. Once the mutation occurs however, it will repro just from fetching. Fetching can occur for various reasons like changing tabs in the app and coming back. Here is some logging including source as you suggested (where xyz is some longer nested object path):

[code]

Not

[2019-03-12 06:31] ronnychan-seek commented on #199
oh and `subLocation` for us is 4 levels deep

[2019-03-12 10:00] rohandubal commented on #199
This is interesting. To make sure I am tracking the right thing, is it possible for you to provide me with a sample app code/ schema which I can use at my end to reproduce?

[2019-03-12 11:56] dreamBegin opened #201 "Getting "Software caused connection abort" while fetching query when app became active"
Getting this error **"Software caused connection abort"** while fetching a query from Appsync. This query works perfect every-time, I only get this error when I minimize my app and receive the push and when I open the app by tapping on the push I fire a AppSync query sometimes it works and sometime I receive this error in the response : -

Error object : **Optional<Error>
  ▿ some : AWSAppSyncClie

[2019-03-12 16:29] kvasukib commented on #195
I am assigning to @karthiksaligrama to provide advice on how to configure this in the backend.

[2019-03-12 21:44] tapparello commented on #190
Hi everyone! Any update on the status of this?

[2019-03-12 22:21] ronnychan-seek commented on #199
hi @rohandubal we will try and extract out a poc but will need some time for that. thanks for investigating.

[2019-03-15 00:33] vtamnh14 opened #203 "Subscription AWS AppSync"
Hi Supporter,
I create a project for a demo but I can't subscription object.
I don't know what happens.

This is declared of Type
type GlobalSettingsApp {
	id: ID!
	language: String
	backendURL: String
	version: String
	description: String
}
type Mutation {
	createSettings(
		version: String!,
		backendURL: String!,
		language: String!,
		description: String!
	): GlobalSettingsApp
	createGlobalSet

[2019-03-15 00:43] #203 closed

[2019-03-15 07:28] rohandubal commented on #201
Hello @dreamBegin

Sorry that you are having issues using the SDK. I did some search around this error and it looks like this is a bug on Apple's side. You can access the bug report that is filed here: https://bugreport.apple.com/web/?problemID=43882930

It would probably difficult for us to fix this since we use URLSession underneath. Some developers were able to fix this by adding a small delay

[2019-03-15 07:53] dreamBegin commented on #201
Thank you for the response @rohandubal
Actually I realized that earlier the it was happening/not happening with the delay for example when i had my break point on it always worked and was not working when I load the app instantly. I added delay and it worked but I Thought lets see if we have any other alternate. So I'm going with the delay solution.

Thanks and Regards
Kuldeep Tanwar

[2019-03-15 07:53] #201 closed

[2019-03-16 01:08] RomeoDelta opened #204 "How to create the same code as EventsAPI.swift?"
**State your question**

The ‘amplify codegen’ command creates the API.swift, but the code of the API.swift differs from EventsAPI.swift.
For example, API.swift doesn’t include ‘NewCommentOnEventSubscription’ class, but EventsAPI.swift that was originally included has the class.
Could you show me how to create the same source code as EventsAPI.swift?
(At the head line of EventsAPI.swift, there is

[2019-03-19 22:06] rohandubal commented on #190
Hello all,

This is now fixed with SDK version `2.10.3`. Please update the SDK to apply the fix.

Thanks,
Rohan

[2019-03-19 22:06] #190 closed

[2019-03-21 00:04] rohit3d2003 commented on #195
Any update on this? We are waiting on push notifications to work before releasing the app

[2019-03-22 13:20] oakesja opened #205 "Cannot watch queries when offline"
**Describe the bug**
We cannot watch queries when offline using the default cachePolicy of `returnCacheDataElseFetch`. I believe that this is because the fetch returns a network error so it does not have any [dependent keys](https://github.com/awslabs/aws-mobile-appsync-sdk-ios/blob/bd5aebd97968ee135d4d77c490c399ec5c0a7d78/AWSAppSyncClient/Apollo/Sources/Apollo/GraphQLQueryWatcher.swift#L32). This

[2019-03-22 14:47] edfinegan commented on #4
I'm experiencing the same issue as @peterfennema and @aaronkampmeier. This seems to lead to a dead end.

[2019-03-23 00:07] ricsrock opened #206 "Use of undeclared type..."
I am working through the excellent Events App example posted here:

https://github.com/aws-samples/aws-mobile-appsync-events-starter-ios/tree/master/EventsApp

I'm getting the error: "Use of undeclared type..." when recreating EventDetails.swift at line 28:

`var event: Event?`

Except, in my case, the line is:

`var store: Store?`

I am recreating the example app using a different schema and data

[2019-03-23 13:34] LuoDengfeng opened #207 "Subscribe not work"
appSyncClient fetch and perform(mutation:) method works well, but the appSyncClient?.subscribe(...) method not work, can not response when other one create, update or delete data. What seems to be the reason of the issue? Have I ignored some configuration?

[2019-03-25 17:36] minbi commented on #207
Hi @LuoDengfeng ,

We can help you solve the problem, but we need some more information.

What does your Cocoapod file dependencies look like? Can you provide a code sample of your subscription? What does your schema look like? and how was it generated?

[2019-03-25 20:55] minbi commented on #205
The answer is probably that is not supported, but I have tagged @rohandubal for a better answer of the current state of the SDK.

[2019-03-26 01:56] LuoDengfeng commented on #207
Podfile:
`platform :ios, '10.0'
use_frameworks!
targetsArray = ['TestAppsync']
targetsArray.each do |t|
    target t do
    pod 'AWSAppSync'
    end
end`
Code sample:
CreateMutation: `let nickname = "luo"
        let mutationInput = CreateAuthorInput(nickname: nickname)

        appSyncClient?.perform(mutation: CreateAuthorMutation(input: mutationInput)) { (result, error) in
            if let res

[2019-03-26 02:04] LuoDengfeng commented on #207
I have tried your sample project EventsApp, the subscribe works. I can't figure out what's wrong with my own project. Should it be the schema reason? Should I config something in the console to make the  subscribe work?

[2019-03-26 12:28] dmytrokrepkikh commented on #163
Use:
private var keyIterator: EnumeratedSequence<Array<Key>>.Iterator
instead of:
private var keyIterator: EnumeratedIterator<IndexingIterator<Array<Key>>>

[2019-03-26 16:26] #199 closed

[2019-03-27 18:32] rohit3d2003 commented on #195
@kvasukib , @karthiksaligrama  - Just checking to see if you had a chance to look into this question. We are waiting for your guidance on this before going live using AppSync. If the push notifications aren't supported, we may need to rethink our approach

[2019-03-27 19:43] rohit3d2003 commented on #8
Any guidance on this thread? I am also in the same boat as @alionthego and would appreciate guidance from this group.

[2019-03-27 20:11] johnmurphy01 opened #208 "S3Object inside Input type does not upload automatically if optional"
**Describe the bug**
When using the auto upload feature(`AWSS3TransferUtility`) of AppSync, the `S3Object` is not recognized if the parameter is marked as `Optional`.

**To Reproduce**
1. Create a schema in which an input has a `S3ObjectInput` property, making the property optional.
2. The input should be referenced as a parameter in a mutation(the sample in this repo would suffice, given that ste

[2019-03-29 08:59] ifabijanovic opened #209 "Correctly handling coming back online after saving a lot of mutations in offline"
My app is used for monitoring - every 5s it takes some readings and saves them by performing a mutation. While the phone has an active internet connection there are no issues - all mutations are nicely synced to the cloud.

However a realistic scenario is that the app would be used for monitoring purposes in a no-connection scenario. I simulate this by putting the phone in Airplane mode and leave

[2019-03-29 13:57] ralowe commented on #163
Needed to add <Key>. Below solved the issue for me.
private var keyIterator: EnumeratedSequence<Array<Key>>.Iterator

instead of:
private var keyIterator: EnumeratedIterator<IndexingIterator<Array>>

[2019-03-30 00:39] btn52396 commented on #209
Read my issue here
https://github.com/awslabs/aws-mobile-appsync-sdk-ios/issues/173

I described a solution there as well

[2019-03-31 05:07] minbi commented on #208
Hi @johnmurphy01 ,

Thanks for the report. We will investigate this issue.

[2019-03-31 15:46] airstance opened #211 "SQLite cache doesn't work"
**Describe the bug**
When I initialize an AWSAppSyncClient object, I'm getting SQLite errors after it creates the initial table.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with the simple sample ios application
2. Run it
3. Notice the '[logging] unrecognized token: ":"' in the output - this indicates the error
4. It falls back to the in-memory cache

**Environment(please complete

[2019-03-31 16:29] airstance commented on #211
Apparently, it's a problem with SQLite.swift:

https://github.com/stephencelis/SQLite.swift/issues/888

I suppose there are two issues now:
1) Integration of the fix from SQLite.swift
2) The AppSync ios cache test case doesn't verify that a db cache was created

[2019-03-31 21:44] airstance commented on #211
Oh joy, the SQLite.swift cocoapod hasn't been updated in nearly a year.  I added this to my podfile to force download the latest:

pod 'SQLite.swift', :git => 'https://github.com/stephencelis/SQLite.swift', :branch => 'master'

I'm still trying to verify that the latest version fixes the bug and doesn't cause any new ones.

[2019-04-01 04:58] airstance commented on #211
Just to follow up... the above workaround fixed local caching for me.  I'm still somewhat amazed that this wasn't brought up earlier.  I'm guessing this is somehow unique to my setup.

[2019-04-01 10:08] ghost opened #212 "How do I solve AWSAppSync.AWSAppSyncClientError"
**State your question**
I am facing a network issue that I have not solved. Please let me know if you have some advice to fix this problem.

I have noticed over 10k network error logs on my Crashlytics. These logs include `query` and `mutation`.  These API is fine most of the time but sometimes this error callback and sent to Crashlytics.

The code and error log is below.

**What is the root issue

[2019-04-01 18:38] achager opened #213 "Move subscription errors to status change handler"
**Feature Request**
For manual (non DeltaSync) subscriptions created with the `client.subscribe` function call, subscription errors should all trigger the `statusChangeHandler` callback. As of release 2.10.3 with the addition of the subscription `statusChangeHandler` it is confusing to have errors sometimes occur in the `resultHandler` (i.e. on subscription startup) and sometimes on the `statusCha

[2019-04-01 18:43] achager opened #214 "Trigger ConnectionStateChangeHandler delegate method when starting AppSync client online"
**Is your feature request related to a problem? Please describe.**
When first starting an `AWSAppSyncClient` when the app is _online_, the `ConnectionStateChangeHandler.stateChanged(:)` delegate method is not triggered. If the app is offline when the `AWSAppSyncClient` is started, the delegate method is triggered.

**Describe the solution you'd like**
The `ConnectionStateChangeHandler.stateChanged

[2019-04-01 22:26] zigfreid5 commented on #211
@airstance Haha, honestly I haven't brought it up because no one else brought it up and it seems like it would be a widespread issue, so I thought I just did something wrong.

[2019-04-01 23:39] zigfreid5 commented on #211
For what it's worth, the workaround posted above didn't fix the issue for me. I still get the `unrecognized token: ":"` output and the persisted cache still doesn't work.

[2019-04-02 16:06] airstance opened #215 "Allow client to perform delta sync manually"
There are times when my application is notified that a batch operation has been performed on the appsync datasource independent of the graphQL API (notifications via subscriptions).  There is no way to request an existing sync operation to make a full/delta sync in this case. The only catch-up events are app foreground and network transitions

**Describe the solution you'd like**
Provide a public

[2019-04-02 19:23] airstance opened #216 "Subscriptions can fail depending on source mutation return parameters"
My subscription handler is being called with an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the Event example
2. Subscribe to onDeltaPost
3. Call updatePost but only ask for id to be returned
4. The subscription routine will be called with an error

**Expected behavior**
The getPost call works when only the id is requested.  I would expect the same here.  The subscription hand

[2019-04-03 11:54] airstance opened #217 "Can't initialize two delta sync operations in a row"
**Describe the bug**
If you initiate two delta sync operations in a row, you will receive intermittent crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an appSyncClient
2. Initiate two sync operations one after another
3. The second one will crash randomly

**Expected behavior**
The second operation should succeed

**Environment(please complete the following information):**
 -

[2019-04-03 12:05] airstance commented on #135
Yes, I believe this answered my question.  I now iteratively issue additional fetch calls within the sync completion handler.

One thing to note is that if you save the cancellable object return from the additional fetch calls, be sure to distinguish between cached and server fetches.  They can happen concurrently because the sync call may immediately query the server after the initial cache load.

[2019-04-03 13:28] airstance opened #218 "lastSyncTime is updated after first page of results of sync"
**Is your feature request related to a problem? Please describe.**
Most real-world GraphQL requests require some form of paging.  The SDK is saving the "lastSyncTime" after the initial page is downloaded.  The problem is that if there is a network/server/whatever error in the subsequent pages, the data will never be updated until the next full sync.

**Describe the solution you'd like**
Perhaps ma

[2019-04-03 15:36] airstance opened #219 "Allow two delta sync calls to use different lastSyncTime values"
**Is your feature request related to a problem? Please describe.**
I have two Sync operations running for different resources.  The SDK uses a common lastSyncTime for both operations causing loss of data.

**Describe the solution you'd like**
I would like the two operations to save their own copy of lastSyncTime

**Additional context**
I'm not 100% convinced they're actually sharing the same lastS